<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pixelstrap - Admin Document">
  <meta name="keywords" content="Pixelstrap - Admin Document">
  <meta name="author" content="pixelstrap">
  <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
  <title>Pixelstrap - Admin Document</title>
  <!-- Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/prism/prism.css">
  <!-- Font Awesome-->
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/fontawesome.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/brands.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/solid.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/regular.css" />
  <!-- Feather icon-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/feather-icon/feather-icon.css" />
  <!-- animate-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/animate/animate.css" />
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/bootstrap/bootstrap.css" />
  <!-- App css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <!-- document css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document.css" />
</head>

<body class="document full-width-doc sticky-nav-doc" data-bs-spy="scroll" data-bs-target="#myScrollspy" data-offset="0">
  <!-- tap on top starts-->
  <div class="tap-top"><i data-feather="chevrons-up"></i>
    <p>Top</p>
  </div>
  <!-- tap on tap ends-->
  <div>
    <div class="home-section">
      <nav class="navbar navbar-expand-lg">
        <div class="container custom-container">
          <div class="main-menu"><a class="navbar-brand" href="index.html"> <img src="../assets/images/logo/logo.png"
                alt=""></a>
            <div>
              <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"> </i></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav menu">
                  <li class="nav-item"><a class="nav-link active"
                      href="https://themeforest.net/user/pixelstrap/portfolio" role="button" aria-haspopup="true"
                      aria-expanded="false" target="_blank">Purchase</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://support.pixelstrap.com/" role="button"
                      aria-haspopup="true" aria-expanded="false" target="_blank">Support</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://www.vue.pixelstrap.net/admiro/auth/login/"
                      role="button" aria-haspopup="true" aria-expanded="false" target="_blank">Demo</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://landing.pixelstrap.net/vue/admiro/template/"
                      role="button" aria-haspopup="true" aria-expanded="false" target="_blank">Feature </a></li>
                </ul>
              </div>
            </div>
            <ul class="nav-right">
              <li>
                <div class="d-lg-none d-block"><a class="toggle-sidebar" href="#"><i class="fa fa-sliders"></i></a>
                </div>
              </li>
              <li>
                <div class="btn-group"><a class="decrease btn btn-doc" href="#" title="Decrease font size">A-</a><a
                    class="reset btn btn-doc" href="#" title="Default font size">A</a><a class="increase btn btn-doc"
                    href="#" title="Increase font size">A+</a></div>
              </li>
              <li><a class="btn btn-light mode font-dark" href="#" title="Dark"><i
                    class="fa-regular fa-moon fa-fw"></i><span>Dark</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container custom-container">
        <div class="search-input">
          <div class="input-group mb-md-3 mb-0">
            <input type="text" class="form-control" placeholder="search anything here" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"><i data-feather="search"></i></span>
          </div>
          <div class="popular-search">
            <span>Popular Search:</span>
            <ul>
              <li><a href="index.html"><span class="badge bg-primary">Starter kit</span></a></li>
              <li><a href="basic-ui.html"><span class="badge bg-primary">Element</span></a></li>
              <li><a href="advance-ui.html"><span class="badge bg-primary">components</span></a></li>
              <li><a href="forms.html"><span class="badge bg-primary">forms</span></a></li>
              <li><a href="tables.html"><span class="badge bg-primary">tables</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="effect-sec">
        <img src="../assets/images/girl.png" class="img-fluid girl-img" alt="">
      </div>
    </div>
  </div>
  <div class="container custom-container">
    <div class="document-main">
      <div class="left-sidebar">
        <aside>
          <ul class="list-unstyled nav-sidebar doc-nav">
            <li class="d-lg-none float-end">
              <a href="javascript:void(0)" class="sidebar-close"><i class="fa fa-angle-left"></i></a>
            </li>
            <li class="clearfix"></li>
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="index.html"><img src="../assets/images/document/vue.png"
                    alt="" />Getting Started</a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="index.html">Getting Started</a></li>
                <li class="nav-item"><a class="nav-link" href="tree.html">Our
                    Structure</a></li>
                <li class="nav-item"><a class="nav-link" href="feature-list.html">Avaiable Features</a></li>
                <li class="nav-item"><a class="nav-link" href="RoutingVue.html">Routing</a></li>
                <li class="nav-item"><a class="nav-link" href="customer-review.html">Customer Reviews</a> </li>

              </ul>
            </li>

            <li class="nav-item">
              <div class="title">
                <a href="dark-mode.html" class="nav-link px-0">
                  <img src="../assets/images/document/vue.png" alt="" />
                  Dark Layout
                </a>
              </div>
            </li>
            <li class="nav-item mb-2">
              <div class="title">
                <a href="rtl.html" class="nav-link px-0">
                  <img src="../assets/images/document/vue.png" alt="" />
                  RTL Layout
                </a>
              </div>
            </li>
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="page-customizer.html"><img
                    src="../assets/images/document/vue.png" alt="" />Customization</a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="page-customizer.html">Customizer</a></li>
                <li class="nav-item"><a class="nav-link" href="page-color.html">Color</a></li>

                <li class="nav-item"><a class="nav-link" href="page-scss.html">SCSS</a> </li>

                <li class="nav-item"><a class="nav-link" href="sidebar-type.html">Sidebar type</a> </li>
              </ul>
            </li>
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="basic-ui.html"><img src="../assets/images/document/vue.png"
                    alt="" />Components </a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="basic-ui.html">Basic UI Elements</a></li>
                <li class="nav-item"><a class="nav-link" href="advance-ui.html">Advance UI Elements</a></li>

                <li class="nav-item"><a class="nav-link" href="icons.html">Icons</a></li>
                <li class="nav-item"><a class="nav-link" href="forms.html">Forms</a></li>
                <li class="nav-item"><a class="nav-link" href="tables.html">Tables</a></li>
                <li class="nav-item"><a class="nav-link" href="cards.html">Cards</a></li>
                <li class="nav-item"><a class="nav-link" href="timeline.html">Timeline</a></li>
                <li class="nav-item"><a class="nav-link" href="charts.html">Charts</a></li>
                <li class="nav-item"><a class="nav-link" href="maps.html">Maps</a></li>
                <li class="nav-item"><a class="nav-link" href="editors.html">Editors</a></li>
                <li class="nav-item"><a class="nav-link" href="app.html">Applications</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <div class="title">
                <a class="nav-link" href="accordian.html"><img src="../assets/images/document/vue.png" alt="" />Faq</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="title">
                <a class="nav-link" href="credits.html"><img src="../assets/images/document/vue.png"
                    alt="" />Credits</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="title">
                <a class="nav-link" href="change-log.html"><img src="../assets/images/document/vue.png" alt="" />Change
                  log</a>
              </div>
            </li>
          </ul>
        </aside>
      </div>
      <div class="content">
        <div id="section-5">
          <h4 class="main-title">Apps</h4>
          <hr>
          <div id="section51">
            <h4 class="sub-title mb-3 title-with-link">Users
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/users/profile"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <ul class="nav nav-tabs" id="myTab15" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#users-profile" role="tab"
                  aria-selected="true" data-original-title="" title="">Users profile</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#users-card" role="tab"
                  aria-selected="false" data-original-title="" title="">Users card</a></li>
            </ul>
            <div class="tab-content" id="myTabContent15">
              <div class="tab-pane fade show active" id="users-profile" role="tabpanel">
                <div><img class="w-100 img-fluid mt-4" src="../assets/images/gif/User-profile.gif" /></div>
                <hr />

              </div>
              <div class="tab-pane fade" id="users-card" role="tabpanel">
                <div><img class="w-100 img-fluid mt-4" src="../assets/images/gif/User-Card.jpg" />
                </div>
                <hr />

              </div>
            </div>
          </div>
          <h4 class="sub-title mb-0 title-with-link" id="section52">Calender
            <span class="d-flex gap-1">
              <a class="badge badge-light-primary" href="https://www.npmjs.com/package/@fullcalendar/vue3"
                target="_blank">Offical
                link
                <i data-feather="arrow-up-right"></i></a>
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/app/calendar"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </span>
          </h4>
          <div id="full-calender-basic">
            <h5 class="pt-3 pb-2 inner-sub-title mt-0">
            </h5>
            <div><img class="w-100 img-fluid" src="../assets/images/gif/Calendar.gif" /></div>
            <div class="mb-4">
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#calendercode" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="calendercode">npm i @fullcalendar/vue3</code></pre>
              </div>
              <p>Inside Your template tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#calendercode1" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-js" id="calendercode1">&lt;FullCalendar :options="calendarOptions" /&gt; </code></pre>
              </div>
              <p>Inside Your script tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#calendercode1" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-js" id="calendercode1"> import { onMounted } from "vue"
import FullCalendar from "@fullcalendar/vue3";
import dayGridPlugin from "@fullcalendar/daygrid";
import { INITIAL_EVENTS, createEventId } from "@/core/data/calendardata";
import interactionPlugin, { Draggable } from "@fullcalendar/interaction";
import timeGridPlugin from "@fullcalendar/timegrid";

const calendarOptions = {
plugins: [dayGridPlugin, interactionPlugin, timeGridPlugin],
initialView: "dayGridMonth",
initialEvents: INITIAL_EVENTS,
editable: true, selectable: true,
selectMirror: true, dayMaxEvents: true, weekends: true,
select: handleDateSelect, eventClick: handleEventClick,
droppable: true,
drop: HandleDrop,
headerToolbar: {
left: "prev,next today", center: "title", right: "dayGridMonth,timeGridWeek,timeGridDay",
},
}
function HandleDrop(selectInfo: any) {
let title = selectInfo.draggedEl.outerText
let calendarApi = selectInfo.view.calendar
calendarApi.unselect()
if (title) {
calendarApi.addEvent({
id: createEventId(),
title, start: selectInfo.date, allDay: true
})
}
}
function handleDateSelect(selectInfo: any) {
let title = prompt('Please enter a new title for your event')
let calendarApi = selectInfo.view.calendar
calendarApi.unselect()
if (title) {
calendarApi.addEvent({
id: createEventId(),
title, start: selectInfo.startStr, end: selectInfo.endStr, allDay: selectInfo.allDay,
})
}
}
function handleEventClick(clickInfo: any) {
if (confirm(`Are you sure you want to delete the event '${clickInfo.event.title}'`)) {
clickInfo.event.remove()
}
}
onMounted(() => {
let buttons = document.getElementsByClassName('draggableButton')
for (var i = 0; i < buttons.length; i++) {
new Draggable(buttons[i]);
}
})</code></pre>
              </div>
              <p>Inside Your store ts tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#calendercode5" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="calendercode5">let eventGuid = 0
let todayStr = new Date().toISOString().replace(/T.*$/, '') 

export const INITIAL_EVENTS = [
    {
        id: createEventId(),
        title: 'All-day event',
        start: todayStr
    },
    {
        id: createEventId(),
        title: 'Timed event',
        start: todayStr + 'T12:00:00'
    },

    {
        id: createEventId(),
        title: "All-day event",
        start: '2024-01-02',
        end: '2024-01-04'
    },
    {
        id: createEventId(),
        title: "event",
        date: "2024-02-03"
    },
    {
        id: createEventId(),
        title: "event 2",
        start: '2024-01-07',
        end: '2024-01-09'
    },
    {
        id: createEventId(),
        title: "all-day event",
        start: '2024-11-09T10:30:00',
        end: '2024-11-10T12:30:00'
    },
    {
        id: createEventId(),
        title: "event",
        date: "2024-02-10"
    },
    {
        id: createEventId(),
        title: "event2",
        date: "2024-01-12"
    },
    {
        id: createEventId(),
        title: "event",
        start: "2024-01-19",
        end: "2024-01-22"
    },
    {
        id: createEventId(),
        title: "event",
        date: "2024-01-10",
    },
    {
        id: createEventId(),
        title: "event",
        date: "2024-02-06",
    },
    {
        id: createEventId(),
        title: "All Day event",
        date: "2024-03-06",
    },
    {
        id: createEventId(),
        title: "BirthDay Party",
        date: "2024-02-22",
    },
    {
        id: createEventId(),
        title: "4p meeting",
        date: "2024-01-11",
    },
    {
        id: createEventId(),
        title: "3:30p meeting",
        date: "2024-02-05",
    },
    {
        id: createEventId(),
        title: "Tour with our team ",
        date: "2024-02-16",
    },
    {
        id: createEventId(),
        title: "4p meeting ",
        date: "2024-02-03",
    },
    {
        id: createEventId(),
        title: "event3",
        date: "2024-02-06",
    },
    {
        id: createEventId(),
        title: "4p meeting",
        date: "2024-01-22",
    },
    {
        id: createEventId(),
        title: "event1",
        date: "2024-02-22",
    },
    {
        id: createEventId(),
        title: "3:30p meeting",
        date: "2024-01-23",
    },
    {
        id: createEventId(),
        title: "3:30p meeting",
        date: "2024-01-27",
    },
    {
        id: createEventId(),
        groupId: 999,
        title: 'Meeting with Team',
        start: '2022-02-11T16:00:00'
    },
    {
        id: createEventId(),
        groupId: 999,
        title: 'Upload New Project',
        start: '2024-02-16T16:00:00'
    },
    {
        id: createEventId(),
        title: 'Birthday Party',
        start: '2024-11-24',
        end: '2024-03-26'
    },
    {
        id: createEventId(),
        title: 'Reporting about Theme',
        start: '2024-03-18T10:30:00',
        end: '2024-03-19T12:30:00'
    },
    {
        id: createEventId(),
        title: 'Lunch',
        start: '2024-02-28T12:00:00'
    },
    {
        id: createEventId(),
        title: 'Meeting',
        start: '2024-04-12T14:30:00'
    },
    {
        id: createEventId(),
        title: 'Happy Hour',
        start: '2024-04-24T17:30:00'
    },
]

export function createEventId() {
return String(eventGuid++)
}</code></pre>
              </div>
            </div>
          </div>
          <div id="section53">
            <h4 class="sub-title mb-3 title-with-link">Gallery
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/gallery/grid_gallery"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <ul class="nav nav-tabs" id="myTab17" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#gallery-grid" role="tab"
                  aria-selected="true" data-original-title="" title="">Gallery grid</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#gallery-desk" role="tab"
                  aria-selected="false" data-original-title="" title="">Gallery with desc</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Massonry" role="tab"
                  aria-selected="false" data-original-title="" title="">Masonry gallery</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Masonry-desk" role="tab"
                  aria-selected="false" data-original-title="" title="">Masonry gallery desc</a></li>

            </ul>
            <br />
            <div class="tab-content" id="myTabContent17">
              <div class="tab-pane fade show active" id="gallery-grid" role="tabpanel">

                <div class="mb-4">
                  <div><img class="w-100 img-fluid" src="../assets/images/gif/Grid-gallery.gif" /></div>
                  <br />
                  <div class="code-box-copy">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallerycode"
                      title="Copy"><i class="fa-solid fa-copy fa-fw"></i></button>
                    <div class="code-box-copy">
                      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallerycode1"
                        title="Copy"><i class="fa-solid fa-copy fa-fw"></i></button>
                      <pre><code class="language-html" id="gallerycode1">npm i vue-easy-lightbox</code></pre>
                    </div>
                    <p>In your main.ts file all the following code:</p>
                    <div class="code-box-copy">
                      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallery2" title="Copy"><i
                          class="fa-solid fa-copy fa-fw"></i></button>
                      <pre><code class="language-html" id="gallery2">import Lightbox from 'vue-easy-lightbox'
                          .use(Lightbox)</code></pre>
                    </div>
                    <p>Inside Your template tags add</p>
                    <div class="code-box-copy mb-3">
                      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallery1" title="Copy"><i
                          class="fa-solid fa-copy fa-fw"></i></button>
                      <pre><code class="language-js" id="gallery1"> &lt;figure v-for="(src, index) in image" :key="index" class="col-xl-3 col-md-4 col-sm-6 xl-33 box-col-33 "
            @click="() => showImg(index)"&gt;
            &lt;a itemprop="contentUrl" data-size="1600x950"&gt;
                &lt;img :src="getImgUrl(src.image)" alt="Image description" class="img-thumbnail" /&gt;
            &lt;/a&gt;
            &lt;div class="caption"&gt;

            &lt;/div&gt;
        &lt;/figure&gt;
        &lt;template #light-box&gt;
            &lt;vue-easy-lightbox :index="indexRef" :visible="visible" :imgs="lightBoxImages" @hide="handleHide"&gt;
            &lt;/vue-easy-lightbox&gt;
        &lt;/template&gt;</code></pre>
                    </div>
                    <p>Inside Your script tags add</p>
                    <div class="code-box-copy mb-3">
                      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallery" title="Copy"><i
                          class="fa-solid fa-copy fa-fw"></i></button>
                      <pre><code class="language-js" id="gallery"> import { ref, onMounted, defineAsyncComponent } from "vue"
                        import { image } from "@/core/data/masonry"

                  let lightBoxImages = ref<object[]>([])
                  let visible = ref<boolean>(false)
                  let indexRef = ref<number>(0)
                  
                  function showImg(index: number) {
                      indexRef.value = index
                      visible.value = true
                  }
                  function handleHide() {
                      visible.value = false
                  }
                  function getImgUrl(path: string) {
                      return require('@/assets/images/' + path);
                  }
                  onMounted(() => {
                      masonryItems.forEach(item => {
                          lightBoxImages.value.push({ src: require('@/assets/images/' + item.image) })
                  
                      })
                  })
                                           </code></pre>
                    </div>

                    <p>Inside Your ts tags add</p>
                    <div class="code-box-copy mb-3">
                      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallery3" title="Copy"><i
                          class="fa-solid fa-copy fa-fw"></i></button>
                      <pre><code class="language-html" id="gallery3">interface item {
   image: string
 }
 export const image: item[] = [
 {
     image: "lightgallry/01.jpg"
 },
 {
     image: "lightgallry/02.jpg"
 },
 {
     image: "lightgallry/03.jpg"
 },
 {
     image: "lightgallry/04.jpg"
 },
 {
     image: "lightgallry/05.jpg"
 },
 {
     image: "lightgallry/011.jpg"
 },
 {
     image: "lightgallry/010.jpg"
 },
 {
     image: "lightgallry/08.jpg"
 },
 {
     image: "lightgallry/09.jpg"
 },
 {
     image: "lightgallry/010.jpg"
 },
 {
     image: "lightgallry/011.jpg"
 },
 {
     image: "lightgallry/012.jpg"
 }
]
                  </code></pre>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="gallery-desk" role="tabpanel">
                <div><img class="w-100 img-fluid" src="../assets/images/gif/Grid-gallery-description.gif" />
                </div>
                <br />
                <div class="code-box-copy">
                  <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallerycode" title="Copy"><i
                      class="fa-solid fa-copy fa-fw"></i></button>
                  <div class="code-box-copy">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallerycode"
                      title="Copy"><i class="fa-solid fa-copy fa-fw"></i></button>
                    <pre><code class="language-html" id="gallerycode">npm i vue-easy-lightbox</code></pre>
                  </div>
                  <p>In your main.ts file all the following code:</p>
                  <div class="code-box-copy">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallery5" title="Copy"><i
                        class="fa-solid fa-copy fa-fw"></i></button>
                    <pre><code class="language-html" id="gallery5">import Lightbox from 'vue-easy-lightbox'
                            .use(Lightbox)</code></pre>
                  </div>
                  <p>Inside Your template tags add</p>
                  <div class="code-box-copy mb-3">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallery6" title="Copy"><i
                        class="fa-solid fa-copy fa-fw"></i></button>
                    <pre><code class="language-js" id="gallery6"> &lt;figure v-for="(src, index) in imgs" :key="index" class="col-xl-3 col-sm-6 xl-33 box-col-33 "
                          @click="() => showImg(index)"&gt;
                          &lt;a&gt;
                              &lt;img :src="getImgUrl(src.image)" alt="Image description" class="img-fluid" /&gt;
                              &lt;div class="caption description"&gt;
                                  &lt;h4&gt;{{ src.title }}&lt;/h4&gt;
                                  &lt;p&gt;{{ src.descr }}&lt;/p&gt;
                              &lt;/div&gt;
                          &lt;/a&gt;
                      &lt;/figure&gt;
                      &lt;template #light-box&gt;
                          &lt;vue-easy-lightbox :index="indexRef" :visible="visible" :imgs="lightBoxImages" @hide="handleHide"&gt;
                          &lt;/vue-easy-lightbox&gt;
                      &lt;/template&gt;</code></pre>
                  </div>
                  <p>Inside Your script tags add</p>
                  <div class="code-box-copy mb-3">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#googlecode2"
                      title="Copy"><i class="fa-solid fa-copy fa-fw"></i></button>
                    <pre><code class="language-js" id="googlecode2">import { ref, onMounted, defineAsyncComponent } from "vue"
                      import { imgs } from "@/core/data/masonry"
                        
                          let lightBoxImages = ref<object[]>([])
                          
                          let visible = ref&lt;boolean&gt;(false)
                          let indexRef = ref&lt;number&gt;(0)
                          
                          function showImg(index: number) {
                              indexRef.value = index
                              visible.value = true
                          }
                          function handleHide() {
                              visible.value = false
                          }
                          
                          function getImgUrl(path: string) {
                              return require('@/assets/images/' + path);
                          }
                          onMounted(() => {
                              masonryItems.forEach(item => {
                                  lightBoxImages.value.push({ src: require('@/assets/images/' + item.image), title: item.title })
                          
                              })
                          })
                                             </code></pre>
                  </div>

                  <p>Inside Your ts tags add</p>
                  <div class="code-box-copy mb-3">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#googleode4" title="Copy"><i
                        class="fa-solid fa-copy fa-fw"></i></button>
                    <pre><code class="language-html" id="googleode4"> interface photos {
  id?: number,
  title: string,
  descr: string,
  image: string
}
                      export const imgs: photos[] = [
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/01.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/02.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/03.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/04.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/05.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/011.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/010.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/08.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/01.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/02.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/03.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/04.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/05.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/011.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/010.jpg"
                      },
                      {
                          title: "Portfolio Title",
                          descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.",
                          image: "lightgallry/08.jpg"
                      }
                  ]
                    </code></pre>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="Massonry" role="tabpanel">

                <div class="mb-3">
                  <div><img class="w-100 img-fluid" src="../assets/images/gif/Masonry-gallery.gif" />
                  </div>
                  <br />
                  <div class="code-box-copy">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallerycode1"
                      title="Copy"><i class="fa-solid fa-copy fa-fw"></i></button>
                    <pre><code class="language-html" id="gallerycode1">npm i vue-easy-lightbox
 npm i vue-masonry
                    </code></pre>
                  </div>
                  <p>In your main.ts file all the following code:</p>
                  <div class="code-box-copy">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#chartistcode2"
                      title="Copy"><i class="fa-solid fa-copy fa-fw"></i></button>
                    <pre><code class="language-html" id="chartistcode2">import Lightbox from 'vue-easy-lightbox'
 import { VueMasonryPlugin } from 'vue-masonry';
   .use(Lightbox)
   .use(VueMasonryPlugin)</code></pre>
                  </div>
                  <p>Inside Your template tags add</p>
                  <div class="code-box-copy mb-3">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#chartistcode1"
                      title="Copy"><i class="fa-solid fa-copy fa-fw"></i></button>
                    <pre><code class="language-js" id="chartistcode1">  &lt;div v-masonry class="my-gallery row grid gallery" id="aniimated-thumbnials" itemscope&gt;
  &lt;figure v-masonry-tile class="col-md-3 col-sm-6 grid-item" itemprop="associatedMedia" itemscope :key="index"
      v-for="(item, index) in imags" @click="() =&gt; showImg(index)"&gt;
      &lt;a&gt;&lt;img :src="getImgUrl(item.image)" class="img-thumbnail" /&gt;&lt;/a&gt;
  &lt;/figure&gt;
 &lt;/div&gt;
 &lt;template #light-box&gt;
     &lt;vue-easy-lightbox :index="indexRef" :visible="visible" :imgs="lightBoxImages" @hide="handleHide"&gt;
     &lt;/vue-easy-lightbox&gt;
 &lt;/template&gt;</code></pre>
                  </div>
                  <p>Inside Your script tags add</p>
                  <div class="code-box-copy mb-3">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallery7" title="Copy"><i
                        class="fa-solid fa-copy fa-fw"></i></button>
                    <pre><code class="language-js" id="gallery7"> import { ref, onMounted, defineAsyncComponent } from "vue"
  import { imags } from "@/core/data/masonry"
 let lightBoxImages = ref<string | number | boolean[]>([])
 let visible = ref<boolean>(false)
 let indexRef = ref<number>(0)

 
 function showImg(index: number) {
     indexRef.value = index
     visible.value = true
 }
 function handleHide() {
     visible.value = false
 }
 
 function getImgUrl(path: string) {
     return require('@/assets/images/' + path);
 }
 onMounted(() => {
     masonryItems.forEach(item => {
         lightBoxImages.value.push({ src: require('@/assets/images/' + item.image) })
 
     })
 })
                    </code></pre>
                  </div>

                  <p>Inside Your json tags add</p>
                  <div class="code-box-copy mb-3">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#gallery9" title="Copy"><i
                        class="fa-solid fa-copy fa-fw"></i></button>
                    <pre><code class="language-html" id="gallery9">interface item {
  image: string
}
 export const imags: item[] = [
 {
     image: "masonry/1.jpg"
 },
 {
     image: "masonry/2.jpg"
 },
 {
     image: "masonry/3.jpg"
 },
 {
     image: "masonry/4.jpg"
 },
 {
     image: "masonry/6.jpg"
 },
 {
     image: "masonry/5.jpg"
 },
                  
 {
     image: "masonry/7.jpg"
 },
 {
     image: "masonry/8.jpg"
 },
 {
     image: "masonry/9.jpg"
 },
 {
     image: "masonry/10.jpg"
 },
 {
     image: "masonry/11.jpg"
 },
 {
     image: "masonry/12.jpg"
 },
 {
     image: "masonry/13.jpg"
 },
 {
     image: "masonry/14.jpg"
 },
 {
     image: "masonry/15.jpg"
 },
 {
     image: "masonry/1.jpg"
 }
]
                </code></pre>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="Masonry-desk" role="tabpanel">
                <p class="mb-2">
                <div><img class="w-100 img-fluid" src="../assets/images/gif/Masonry-gallery-description.gif" />
                </div>
                <br />
                <div class="code-box-copy">
                  <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#masonrycode1" title="Copy"><i
                      class="fa-solid fa-copy fa-fw"></i></button>
                  <pre><code class="language-html" id="masonrycode1">npm i vue-easy-lightbox
                    npm i vue-masonry
                  </code></pre>
                </div>
                <p>In your main.ts file all the following code:</p>
                <div class="code-box-copy">
                  <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#masonry2" title="Copy"><i
                      class="fa-solid fa-copy fa-fw"></i></button>
                  <pre><code class="language-html" id="masonry2">import Lightbox from 'vue-easy-lightbox'
                    import { VueMasonryPlugin } from 'vue-masonry';
                      .use(Lightbox)
                      .use(VueMasonryPlugin)</code></pre>
                </div>
                <p>Inside Your template tags add</p>
                <div class="code-box-copy mb-3">
                  <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#masonry1" title="Copy"><i
                      class="fa-solid fa-copy fa-fw"></i></button>
                  <pre><code class="language-js" id="masonry1">  &lt;div v-masonry class="my-gallery row grid gallery-with-description" id="aniimated-thumbnials" itemscope&gt;

                    &lt;figure v-masonry-tile class="grid-item col-xl-3 col-sm-6" :key="index" v-for="(item, index) in imagearray"
                        @click="() =&gt; showImg(index)"&gt;
                        &lt;a&gt;
                            &lt;img :src="getImgUrl(item.image)" class="img-fluid" /&gt;
                            &lt;div class="caption description"&gt;
                                &lt;h4&gt;{{ item.title }}&lt;/h4&gt;
                                &lt;p&gt;{{ item.descr }}&lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/a&gt;
                    &lt;/figure&gt;
        
                &lt;/div&gt;
                &lt;vue-easy-lightbox :index="indexRef" :visible="visible" :imgs="lightBoxImages" @hide="handleHide"&gt;
                &lt;/vue-easy-lightbox&gt;</code></pre>
                </div>
                <p>Inside Your script tags add</p>
                <div class="code-box-copy mb-3">
                  <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#masonry3" title="Copy"><i
                      class="fa-solid fa-copy fa-fw"></i></button>
                  <pre><code class="language-js" id="masonry3"> import { ref, onMounted, defineAsyncComponent } from "vue"
                    import { imagearray } from "@/core/data/masonry"
                 
                    let lightBoxImages = ref<object[]>([])
                    
                    let visible = ref&lt;boolean&gt;(false)
                    let indexRef = ref&lt;number&gt;(0)
                    
                    
                    function showImg(index: number) {
                        indexRef.value = index
                        visible.value = true
                    }
                    function handleHide() {
                        visible.value = false
                    }
                    
                    function getImgUrl(path: string) {
                        return require('@/assets/images/' + path);
                    }
                    onMounted(() => {
                        masonry.forEach(item => {
                            lightBoxImages.value.push({ src: require('@/assets/images/' + item.image), title: item.title })
                    
                        })
                    })
                    })
                                       </code></pre>
                </div>

                <p>Inside Your json tags add</p>
                <div class="code-box-copy mb-3">
                  <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#masonry5" title="Copy"><i
                      class="fa-solid fa-copy fa-fw"></i></button>
                  <pre><code class="language-html" id="masonry5">interface photos {
 id?: number,
 title: string,
 descr: string,
 image: string
}
 export const imagearray: photos[]  = [
{
    image: "masonry/1.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/2.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/3.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/4.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/5.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/6.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/8.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/9.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/10.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/11.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/12.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/14.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/15.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
},
{
    image: "masonry/13.jpg",
    title: "Portfolio Title",
    descr: "is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy."
}
]
              </code></pre>
                </div>

                </p>
              </div>

            </div>
          </div>
          <div id="section54">
            <h4 class="sub-title mb-3 title-with-link">Letter Box
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/app/letter_box"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="tab-pane fade show " id="email-app" role="tabpanel">
              <div><img class="w-100 img-fluid mt-4" src="../assets/images/gif/Letter-Box.gif" />
              </div>
              <hr />
            </div>
          </div>

          <div id="section56">
            <h4 class="sub-title mb-3 title-with-link">Chat
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/app/private_chat"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <ul class="nav nav-tabs" id="myTab19" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#chat-app" role="tab"
                  aria-selected="true" data-original-title="" title="">Chat App</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#video-chat" role="tab"
                  aria-selected="false" data-original-title="" title="">Video Chat</a></li>
            </ul>
            <div class="tab-content" id="myTabContent19">
              <div class="tab-pane fade show active" id="chat-app" role="tabpanel">
                <div><img class="w-100 img-fluid mt-4" src="../assets/images/gif/Chat-private.gif" />
                </div>
                <hr />
              </div>
              <div class="tab-pane fade" id="video-chat" role="tabpanel">
                <div><img class="w-100 img-fluid mt-4" src="../assets/images/gif/Chat-group.gif" />
                </div>
                <hr />
              </div>
            </div>
          </div>
          <div id="section57">
            <h4 class="sub-title mb-3 title-with-link">Support ticket
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/pages/support"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div><img class="w-100 img-fluid" src="../assets/images/gif/Support-ticket.gif" />
            </div>
            <hr />
          </div>
          <div id="section58">
            <h4 class="sub-title mb-3 title-with-link">TODO
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/app/todo"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div><img class="w-100 img-fluid" src="../assets/images/gif/Todo.gif" /></div>
            <hr />
          </div>
          <div id="section510">
            <h4 class="sub-title mb-3 title-with-link">Ecommerce
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/ecommerce/product"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="mb-4">
              <div class="mb-4">
                <p>We have made many different applications to help you with your admin side work. Amongst those is an
                  E-Commerce application</p>
                <p>You can directly use complete E-commerce app to manage your E-commerce with ready-made functionality
                  of
                  Add to cart,Quick-view, and Checkout with Stripe as well as Paypal. Apart from that if you want to use
                  it in your frontend application then you just need to change your json with your API data and you get
                  complete workable E-commerce for your frontend.</p>
              </div>
            </div>
            <ul class="nav nav-tabs" id="myTab20" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#product" role="tab"
                  aria-selected="true" data-original-title="" title="">Product</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#product-page" role="tab"
                  aria-selected="false" data-original-title="" title="">Product page</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#payment-product" role="tab"
                  aria-selected="false" data-original-title="" title="">Product List</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#payment-details" role="tab"
                  aria-selected="false" data-original-title="" title="">Payment Details</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#order-history" role="tab"
                  aria-selected="false" data-original-title="" title="">Order History </a></li>
            </ul>
            <div class="tab-content" id="myTabContent20">
              <div class="tab-pane fade show active" id="product" role="tabpanel">
                <div><img class="w-100 img-fluid mt-3" src="../assets/images/gif/Product.gif" /></div>
                <hr />
              </div>
              <div class="tab-pane fade" id="product-page" role="tabpanel">
                <div><img class="w-100 img-fluid mt-3" src="../assets/images/gif/Product-page.gif" /></div>
                <hr />

              </div>
              <div class="tab-pane fade" id="payment-product" role="tabpanel">
                <div><img class="w-100 img-fluid mt-3" src="../assets/images/gif/Product-List.gif" /></div>
                <hr />

              </div>
              <div class="tab-pane fade" id="payment-details" role="tabpanel">
                <div><img class="w-100 img-fluid mt-3" src="../assets/images/gif/Payment-Details.jpg" /></div>
                <hr />

              </div>
              <div class="tab-pane fade" id="order-history" role="tabpanel">
                <div><img class="w-100 img-fluid mt-3" src="../assets/images/gif/Order-history.gif" /></div>
                <hr />
              </div>
            </div>
          </div>
          <div id="section511">
            <h4 class="sub-title mb-3 title-with-link">Pricing

              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/ecommerce/pricing"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div><img class="w-100 img-fluid mt-3" src="../assets/images/gif/Pricing.jpg" /></div>
            <hr />

          </div>
        </div>
      </div>
      <div class="left-sidebar right-part">
        <aside>
          <ul class="list-unstyled nav-sidebar doc-nav">
            <li class="nav-item">
              <div class="title">On this page</div>
              <ul class="dropdown-nav ps-0">
                <li class="nav-item"><a class="nav-link" href="#section51"><i class="fa fa-angle-right me-2"></i>
                    Users</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#section52"><i
                      class="fa fa-angle-right me-2"></i>Calenders</a></li>
                <li class="nav-item"><a class="nav-link" href="#section53"><i
                      class="fa fa-angle-right me-2"></i>Gallery</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#section54"><i class="fa fa-angle-right me-2"></i>Letter
                    Box</a>
                </li>

                <li class="nav-item"><a class="nav-link" href="#section56"><i
                      class="fa fa-angle-right me-2"></i>Chat</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#section57"><i class="fa fa-angle-right me-2"></i>Support
                    Ticket</a></li>
                <li class="nav-item"><a class="nav-link" href="#section58"><i
                      class="fa fa-angle-right me-2"></i>To-Do</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#section510"><i
                      class="fa fa-angle-right me-2"></i>Ecommerce</a></li>
                <li class="nav-item"><a class="nav-link" href="#section511"><i
                      class="fa fa-angle-right me-2"></i>Pricing</a>
                </li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row footer-theme partition-f">
        <div class="col-12">
          Copyright 2024 © Admiro theme by pixelstrap
        </div>
      </div>
    </div>
  </footer>
</body>
<!-- latest jquery-->
<script src="../assets/js/document/jquery/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="../assets/js/document/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="../assets/js/document/feather-icon/feather.min.js"></script>
<script src="../assets/js/document/feather-icon/feather-icon.js"></script>
<!-- popover js-->
<!-- code copy box js-->
<script src="../assets/js/document/prism/prism.min.js"></script>
<script src="../assets/js/document/clipboard/clipboard.min.js"></script>
<script src="../assets/js/document/custom-card/custom-card.js"></script>
<script src="../assets/js/document/main.js"></script>
<script src="../assets/js/document/script.js"></script>

</html>