<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pixelstrap - Admin Document">
  <meta name="keywords" content="Pixelstrap - Admin Document">
  <meta name="author" content="pixelstrap">
  <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
  <title>Pixelstrap - Admin Document</title>
  <!-- Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/prism/prism.css">
  <!-- Font Awesome-->
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/fontawesome.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/brands.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/solid.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/regular.css" />
  <!-- Feather icon-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/feather-icon/feather-icon.css" />
  <!-- animate-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/animate/animate.css" />
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/bootstrap/bootstrap.css" />
  <!-- App css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <!-- document css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document.css" />
</head>

<body class="document full-width-doc sticky-nav-doc" data-bs-spy="scroll" data-bs-target="#myScrollspy"
  data-bs-offset="0">
  <!-- tap on top starts-->
  <div class="tap-top"><i data-feather="chevrons-up"></i>
    <p>Top</p>
  </div>
  <!-- tap on tap ends-->
  <div>
    <div class="home-section">
      <nav class="navbar navbar-expand-lg">
        <div class="container custom-container">
          <div class="main-menu"><a class="navbar-brand" href="index.html"> <img src="../assets/images/logo/logo.png"
                alt=""></a>
            <div>
              <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"> </i></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav menu">
                  <li class="nav-item active"><a class="nav-link"
                      href="https://themeforest.net/user/pixelstrap/portfolio" role="button" aria-haspopup="true"
                      aria-expanded="false" target="_blank">Purchase</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://support.pixelstrap.com/" role="button"
                      aria-haspopup="true" aria-expanded="false" target="_blank">Support</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://www.vue.pixelstrap.net/admiro/auth/login"
                      role="button" aria-haspopup="true" aria-expanded="false" target="_blank">Demo</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://landing.pixelstrap.net/vue/admiro/template/"
                      role="button" aria-haspopup="true" aria-expanded="false" target="_blank">Feature </a></li>
                </ul>
              </div>
            </div>
            <ul class="nav-right">
              <li>
                <div class="d-lg-none d-block"><a class="toggle-sidebar" href="#"><i class="fa fa-sliders"></i></a>
                </div>
              </li>
              <li>
                <div class="btn-group"><a class="decrease btn btn-doc" href="#" title="Decrease font size">A-</a><a
                    class="reset btn btn-doc" href="#" title="Default font size">A</a><a class="increase btn btn-doc"
                    href="#" title="Increase font size">A+</a></div>
              </li>
              <li><a class="btn btn-light mode font-dark" href="#" title="Dark"><i
                    class="fa-regular fa-moon fa-fw"></i><span>Dark</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container custom-container">
        <div class="search-input">
          <div class="input-group mb-md-3 mb-0">
            <input type="text" class="form-control" placeholder="search anything here" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"><i data-feather="search"></i></span>
          </div>
          <div class="popular-search">
            <span>Popular Search:</span>
            <ul>
              <li><a href="index.html"><span class="badge bg-primary">Starter kit</span></a></li>
              <li><a href="basic-ui.html"><span class="badge bg-primary">Element</span></a></li>
              <li><a href="advance-ui.html"><span class="badge bg-primary">components</span></a></li>
              <li><a href="forms.html"><span class="badge bg-primary">forms</span></a></li>
              <li><a href="tables.html"><span class="badge bg-primary">tables</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="effect-sec">
        <img src="../assets/images/girl.png" class="img-fluid girl-img" alt="">
      </div>
    </div>
  </div>
  <div class="container custom-container">
    <div class="document-main">
      <div class="left-sidebar">
        <aside>
          <ul class="list-unstyled nav-sidebar doc-nav">
            <li class="d-lg-none float-end">
              <a href="javascript:void(0)" class="sidebar-close"><i class="fa fa-angle-left"></i></a>
            </li>
            <li class="clearfix"></li>
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="index.html"><img src="../assets/images/document/vue.png"
                    alt="" />Getting Started</a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="index.html">Getting Started</a></li>
                <li class="nav-item"><a class="nav-link" href="tree.html">Our
                    Structure</a></li>
                <li class="nav-item"><a class="nav-link" href="feature-list.html">Avaiable Features</a></li>
                <li class="nav-item"><a class="nav-link" href="RoutingVue.html">Routing</a></li>
                <li class="nav-item"><a class="nav-link" href="customer-review.html">Customer Reviews</a> </li>

              </ul>
            </li>

            <li class="nav-item">
              <div class="title">
                <a href="dark-mode.html" class="nav-link px-0">
                  <img src="../assets/images/document/vue.png" alt="" />
                  Dark Layout
                </a>
              </div>
            </li>
            <li class="nav-item mb-2">
              <div class="title">
                <a href="rtl.html" class="nav-link px-0">
                  <img src="../assets/images/document/vue.png" alt="" />
                  RTL Layout
                </a>
              </div>
            </li>
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="page-customizer.html"><img
                    src="../assets/images/document/vue.png" alt="" />Customization</a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="page-customizer.html">Customizer</a></li>
                <li class="nav-item"><a class="nav-link" href="page-color.html">Color</a></li>

                <li class="nav-item"><a class="nav-link" href="page-scss.html">SCSS</a> </li>

                <li class="nav-item"><a class="nav-link" href="sidebar-type.html">Sidebar type</a> </li>
              </ul>
            </li>
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="basic-ui.html"><img src="../assets/images/document/vue.png"
                    alt="" />Components </a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="basic-ui.html">Basic UI Elements</a></li>
                <li class="nav-item"><a class="nav-link" href="advance-ui.html">Advance UI Elements</a></li>

                <li class="nav-item"><a class="nav-link" href="icons.html">Icons</a></li>
                <li class="nav-item"><a class="nav-link" href="forms.html">Forms</a></li>
                <li class="nav-item"><a class="nav-link" href="tables.html">Tables</a></li>
                <li class="nav-item"><a class="nav-link" href="cards.html">Cards</a></li>
                <li class="nav-item"><a class="nav-link" href="timeline.html">Timeline</a></li>
                <li class="nav-item"><a class="nav-link" href="charts.html">Charts</a></li>
                <li class="nav-item"><a class="nav-link" href="maps.html">Maps</a></li>
                <li class="nav-item"><a class="nav-link" href="editors.html">Editors</a></li>
                <li class="nav-item"><a class="nav-link" href="app.html">Applications</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <div class="title">
                <a class="nav-link" href="accordian.html"><img src="../assets/images/document/vue.png" alt="" />Faq</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="title">
                <a class="nav-link" href="credits.html"><img src="../assets/images/document/vue.png"
                    alt="" />Credits</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="title">
                <a class="nav-link" href="change-log.html"><img src="../assets/images/document/vue.png" alt="" />Change
                  log</a>
              </div>
            </li>
          </ul>
        </aside>
      </div>
      <div class="content">
        <div id="section-1">
          <h4 class="main-title mb-0">Installing Bootstrap</h4>
          <p>We have use bootstrap to design most of the components, make sure you
            install it and integrate with the project.</p>
          <p>step 1:</p>
          <div class="code-box-copy mt-3">
            <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#installcode1" title="Copy"><i
                class="fa-solid fa-copy fa-fw"></i></button>
            <pre><code class="language-html" id="installcode1">npm install --save bootstrap</code></pre>
          </div>
          <p>step 2:</p>
          <p>In your main.ts file all the following code:</p>
          <div class="code-box-copy mt-3">
            <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#installcode2" title="Copy">
              <i class="fa-solid fa-copy fa-fw"></i></button>
            <pre><code class="language-html" id="installcode2">import 'bootstrap/dist/css/bootstrap.css'
import "bootstrap"
import "bootstrap/dist/js/bootstrap.min.js";</code></pre>
          </div>
          <hr>
          <h4 class="main-title mb-0">Basic UI Elements</h4>
          <hr>
          <div id="section-1-1">
            <h4 class="sub-title mb-0 title-with-link">Buttons
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/app/buttons"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <button class="btn btn-primary mb-2" type="button" data-original-title="" title="">Primary</button>
              <button class="btn btn-secondary mb-2" type="button" data-original-title="" title="">Secondary</button>
              <button class="btn btn-success mb-2" type="button" data-original-title="" title="">Success</button>
              <button class="btn btn-info mb-2" type="button" data-original-title="" title="">Info</button>
              <button class="btn btn-warning mb-2" type="button" data-original-title="" title="">Warning</button>
              <button class="btn btn-danger mb-2" type="button" data-original-title="" title="">Danger</button>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#button" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="button"> &lt;button class="btn " :class="item.classes" v-for="(item, index) in button " :key="index" type="button"&gt;{{
                  item.title }}&lt;/button&gt;</code></pre>
              </div>
              <p class="pt-4 ">Inside Your script tags add</p>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#buttons1" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="buttons1">
                  import { button } from "@/core/data/buttons"</code></pre>
              </div>
              <p class="pt-4 ">Inside ts add</p>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#buttons2" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="buttons2">interface drop {
classes: string,
title: string
}
export const button: drop[] = [
    {
        classes: "btn-primary",
        title: "Primary Button"
    },
    {
        classes: "btn-secondary",
        title: "Secondary Button"
    },
    {
        classes: "btn-info text-light",
        title: "Info Button"
    },
    {
        classes: "btn-success",
        title: "Success Button"
    },
    {
        classes: "btn-warning text-light",
        title: "Warning Button"
    },
    {
        classes: "btn-danger",
        title: "Danger Button"
    },
    {
        classes: "btn-light text-dark",
        title: "Light Button"
    }
]</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-2">
            <h4 class="sub-title mb-0 title-with-link">Tag & pills
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/uikits/tag_pills"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3"><span class="badge badge-primary">Primary</span><span
                class="badge badge-secondary">Secondary</span><span class="badge badge-success">Success</span><span
                class="badge badge-info">Info</span><span class="badge badge-warning text-dark">Warning</span><span
                class="badge badge-danger">Danger</span><span class="badge badge-light text-dark">Light</span><span
                class="badge badge-dark tag-pills-sm-mb">Dark</span>
              <p class="pt-4 ">Inside Your template tags add</p>
              <div class="code-box-copy mt-4">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#badges" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="badges">&lt;span class="badge " :class="item.class" v-for="(item, index) in badges" :key="index"&gt;{{item.title}}&lt;/span&gt;
  </code></pre>
              </div>
              <p class="pt-4 ">Inside Your script tags add</p>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#badges1" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="badges1">import { badges } from "@/core/data/uikits"</code></pre>
              </div>
              <p class="pt-4 ">Inside ts add</p>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#badges2" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="badges2">interface subs {
class?: string,
title: string
}
export const badges: subs[] = [
{
    class: "badge-primary",
    title: "Primary"
},
{
    class: "badge-secondary",
    title: "Secondary"
},
{
    class: "badge-success",
    title: "Success"
},
{
    class: "badge-info",
    title: "Info"
},
{
    class: "badge-warning",
    title: "Warning"
},
{
    class: "badge-danger",
    title: "Danger"
},
{
    class: "badge-light text-dark",
    title: "Light"
},
{
    class: "badge-dark tag-pills-sm-mb",
    title: "Dark"
}
]</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-3">
            <h4 class="sub-title mb-0 title-with-link">Progressbar
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/uikits/progress_bar"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <div class="progress mb-2">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
              <div class="progress mb-2">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress mb-2">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress mb-2">
                <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="pt-4 ">Inside Your template tags add</p>
              <div class="code-box-copy mt-4">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#progressbars" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="progressbars">&lt;div v-for="(item, index) in basic" :key="index"&gt;
  &lt;div class="progress-bar " :class="item.class" role="progressbar" :style="{ 'width': item.width }"
  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"&gt;{{item.width}}&lt;/div&gt;
&lt;/div&gt;
</code></pre>
              </div>
              <p class="pt-4 ">Inside Your script tags add</p>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#progressbars1" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="progressbars1">import { basic } from "@/core/data/uikits"</code></pre>
              </div>
              <p class="pt-4 ">Inside json add</p>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#progressbars2" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="progressbars2">interface progress {
width: string,
class: string
}
export const basic: progress[] = [
{
    width: " 25%",
    class: "bg-primary"
},
{
    width: "50%",
    class: "bg-secondary"
},
{
    width: "75%",
    class: "bg-success"
},
{
    width: "100%",
    class: "bg-info"
}
]</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-4">
            <h4 class="sub-title mb-0 title-with-link">Alert
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/uikits/alert"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <div class="alert alert-primary" role="alert">This is a info alert&mdash;check it out!</div>
              <div class="alert alert-secondary" role="alert">This is a light alert&mdash;check it out!</div>
              <div class="alert alert-success" role="alert">This is a success alert&mdash;check it out!</div>
              <div class="alert alert-info" role="alert">This is a danger alert&mdash;check it out!</div>
              <div class="alert alert-warning" role="alert">This is a secondary alert&mdash;check it out!</div>
              <div class="alert alert-danger" role="alert">This is a warning alert&mdash;check it out!</div>
              <div class="alert alert-light font-dark" role="alert">This is a dark alert&mdash;check it out!</div>
              <div class="alert alert-dark" role="alert">This is a dark alert&mdash;check it out!</div>
              <div class="code-box-copy mt-4">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#alertcopy" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="alertcopy">&lt;div class=&quot;alert alert-primary&quot; role=&quot;alert&quot;&gt;This is a info alert&mdash;check it out!&lt;/div&gt;
&lt;div class=&quot;alert alert-secondary&quot; role=&quot;alert&quot;&gt;This is a light alert&mdash;check it out!&lt;/div&gt;
&lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;This is a success alert&mdash;check it out!&lt;/div&gt;
&lt;div class=&quot;alert alert-info&quot; role=&quot;alert&quot;&gt;This is a danger alert&mdash;check it out!&lt;/div&gt;
&lt;div class=&quot;alert alert-warning&quot; role=&quot;alert&quot;&gt;This is a secondary alert&mdash;check it out!&lt;/div&gt;
&lt;div class=&quot;alert alert-danger&quot; role=&quot;alert&quot;&gt;This is a warning alert&mdash;check it out!&lt;/div&gt;
&lt;div class=&quot;alert alert-light font-dark&quot; role=&quot;alert&quot;&gt;This is a dark alert&mdash;check it out!&lt;/div&gt;
&lt;div class=&quot;alert alert-dark&quot; role=&quot;alert&quot;&gt;This is a dark alert&mdash;check it out!&lt;/div&gt;</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-5">
            <h4 class="sub-title mb-0 title-with-link">Popover
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/uikits/popover"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <button class="btn btn-primary example-popover mb-0 me-0" type="button" data-bs-toggle="popover"
                data-bs-placement="left" title=""
                data-bs-content="If the package restore doesn't help, you can look at the Output window in the Visual Studio."
                data-bs-original-title="Basic Popover">Hurry Up! </button>
              <button class="example-popover btn btn-success mb-0 me-0" type="button" data-bs-trigger="hover"
                data-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title=""
                data-offset="-20px -20px"
                data-bs-content=" Several utility instruction sets have been featured in the Bootstrap 4 to promote very easy learning for beginners in the business of web building."
                data-bs-original-title="Hover Popover">Hover tooltip</button>
              <a class="btn btn-secondary" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                title="" data-bs-title="Dismissible popover"
                data-bs-content="You are able to even develop and suggest improvements to the Bootstrap 4 before its final version is delivered."
                data-bs-original-title="Dismissible popover">Dismissible popover</a>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#popovercode2" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="popovercode2">npm i vue3-popper</code></pre>
              </div>
              <p class="pt-4 ">Inside Your template tags add</p>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#popovercode" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="popovercode"> &lt;Popper placement="right" arrow disableClickAway&gt;
                    &lt;button class="btn btn-primary example-popover mb-0 me-0"&gt; Hurry
                        Up! &lt;/button&gt;
                    &lt;template #content&gt;
                        &lt;div class="popover bs-popover-auto"&gt;
                            &lt;h3 class="popover-header"&gt;Basic Popover&lt;/h3&gt;
                            &lt;div class="popover-body"&gt;If the package restore doesn't help, you can look at the Output window in the
                                Visual Studio.&lt;/div&gt;
                        &lt;/div&gt;
        
                    &lt;/template&gt;
                &lt;/Popper&gt;</code></pre>
              </div>
              <p class="pt-4 ">Inside Your script tags add</p>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#opovercode1" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="opovercode1">import Popper from "vue3-popper";</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-6">
            <h4 class="sub-title mb-0 title-with-link">Tooltip
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/uikits/tooltip"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <button class="example-popover btn btn-primary" type="button" data-container="body"
                data-bs-toggle="tooltip" data-bs-placement="top" title="tooltip"
                data-original-title="Popover title">Hover Me</button>
              <p class="pt-4 ">Inside Your template tags add</p>
              <div class="code-box-copy mt-4">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#tooltipcode" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="tooltipcode">&lt;button class="example-popover btn btn-primary" type="button" data-container="body"
  data-bs-toggle="tooltip" data-bs-placement="top" title="Popover title" ref="hover"&gt;Hover Me&lt;/button&gt;</code></pre>
              </div>
              <p class="pt-4 ">Inside Your script tags add</p>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#tooltipjs" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="tooltipjs">import { Tooltip } from "bootstrap";
  import {  onMounted } from "vue";
  onMounted(() => {
    new Tooltip(document.body, {
      selector: "[data-bs-toggle='tooltip']",
  })
  })</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-7">
            <h4 class="sub-title mb-0 title-with-link">Dropdown
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/uikits/dropdown"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Dashboard</button>
                <ul class="dropdown-menu dropdown-block">
                  <li><a class="dropdown-item" href="#">Project</a></li>
                  <li><a class="dropdown-item" href="#">Ecommerce</a></li>
                  <li><a class="dropdown-item" href="#">Crypto</a></li>
                </ul>
              </div>
              <div class="code-box-copy mt-4">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#dropdowncode" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <p class="pt-4 ">Inside Your template tags add</p>
                <pre><code class="language-html" id="dropdowncode"> 
                  <div class="code-box-copy mt-4">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#dropdowncode"
                      title="Copy"><i class="fa-solid fa-copy fa-fw"></i></button>
                    <pre><code class="language-html" id="dropdowncode">&lt;div class="btn-group" v-for="(item, index) in dropdown" :key="index"&gt;
      &lt;button class="btn  dropdown-toggle" :class="item.class" type="button" data-bs-toggle="dropdown"
          aria-expanded="false"&gt;{{ item.title }}&lt;/button&gt;
      &lt;ul class="dropdown-menu dropdown-block"&gt;
          &lt;li v-for="(items, index) in item.children" :key="index"&gt;&lt;a class="dropdown-item" href="#"&gt;{{
              items.title }}&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;</code></pre>
              </div>
              <p class="pt-4 ">Inside Your script tags add</p>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#dropdowncode1" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="dropdowncode1">import { dropdown } from "@/core/data/uikits"</code></pre>
              </div>
              <p class="pt-4 ">Inside json add</p>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#dropdowncode2" title="Copy"> <i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="dropdowncode2">interface basicdropdown {
 class: string,
 title: string,
 children: subss[]
}

interface subss {
 title: string
}
export const dropdown: basicdropdown[] = [
     {
         class: "btn-primary",
         title: "Dashboard",
         children: [
             {
                 title: "Project"
             },
             {
                 title: "Ecommerce"
             },
             {
                 title: "Crypto"
             }
         ]
     },
     {
         class: "btn-secondary",
         title: "Ecommerce",
         children: [
             {
                 title: "Product"
             },
             {
                 title: "Product details"
             },
             {
                 title: "Cart"
             }
         ]
     },
     {
         class: "btn-warning text-white",
         title: "Ui kits",
         children: [
             {
                 title: "Typography"
             },
             {
                 title: "Avatars"
             },
             {
                 title: "Grid"
             }
         ]
     },
     {
         class: "btn-danger",
         title: "Error page",
         children: [
             {
                 title: "Error 400"
             },
             {
                 title: "Error 403"
             },
             {
                 title: "Error 500"
             }
         ]
     }
    ]</code></pre>
              </div></code></pre>
            </div>
          </div>
        </div>
        <div id="section-1-8">
          <h4 class="sub-title mb-0 title-with-link">Tab
            <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/uikits/tabs"
              target="_blank">Preview
              link
              <i data-feather="arrow-up-right"></i></a>
          </h4>
          <div class="fluid-container pt-3">
            <ul class="simple-wrapper nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item"><a class="nav-link text-primary" id="home-tab" data-bs-toggle="tab" href="#home"
                  role="tab" aria-controls="home" aria-selected="true">Home</a></li>
              <li class="nav-item"><a class="nav-link active text-primary" id="profile-tabs" data-bs-toggle="tab"
                  href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a></li>
              <li class="nav-item"><a class="nav-link text-primary" id="contact-tab" data-bs-toggle="tab"
                  href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a></li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p class="pt-3">Tabs have long been used to show alternative views of the same group of information
                  tabs in software. Known as<em class="text-danger"> “module tabs”</em>, these are still used today in
                  web sites. For instance, airline companies such as Ryanair, easyJet and AirMalta use module tabs to
                  enable the user to switch between bookings for flights, hotels and car hire.</p>
              </div>
              <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tabs">
                <p class="pt-3">Tabs have long been used to show alternative views of the same group of information
                  tabs in software. Known as<em class="text-danger"> “module tabs”</em>, these are still used today in
                  web sites. For instance, airline companies such as Ryanair, easyJet and AirMalta use module tabs to
                  enable the user to switch between bookings for flights, hotels and car hire.</p>
              </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <p class="pt-3">Tabs have long been used to show alternative views of the same group of information
                  tabs in software. Known as<em class="text-danger"> “module tabs”</em>, these are still used today in
                  web sites. For instance, airline companies such as Ryanair, easyJet and AirMalta use module tabs to
                  enable the user to switch between bookings for flights, hotels and car hire.</p>
              </div>
            </div>
            <p class="pt-4 ">Inside Your template tags add</p>
            <div class="code-box-copy mt-4">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#tabcode" title="Copy"><i
                  class="fa-solid fa-copy fa-fw"></i></button>
              <pre><code class="language-html" id="tabcode"> &lt;ul class="nav nav-tabs" id="myTab" role="tablist"&gt;
    &lt;li class="nav-item"&gt;&lt;a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li class="nav-item dropdown"&gt;&lt;a class="nav-link dropdown-toggle bg-transparent border-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"  @click="open()"&gt;Dropdown&lt;/a&gt;
      &lt;div class="dropdown-menu" :class="filter ? 'show' : ''"&gt;&lt;a class="dropdown-item" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"&gt;Action&lt;/a&gt;&lt;a class="dropdown-item" href="#"&gt;Another action&lt;/a&gt;&lt;a class="dropdown-item" href="#"&gt;Something else here&lt;/a&gt;&lt;a class="dropdown-item" href="#"&gt;Separated link&lt;/a&gt;&lt;/div&gt;
    &lt;/li&gt;
    &lt;li class="nav-item"&gt;&lt;a class="nav-link" id="profile-tabs" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"&gt;Profile&lt;/a&gt;&lt;/li&gt;
    &lt;li class="nav-item"&gt;&lt;a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"&gt;Contact&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;div class="tab-content" id="myTabContent"&gt;
    &lt;div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"&gt;
      &lt;p class="mb-0 m-t-30"&gt;{{desc}}&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"&gt;
      &lt;p class="mb-0 m-t-30"&gt;{{desc}}&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"&gt;
      &lt;p class="mb-0 m-t-30"&gt;{{desc}}&lt;/p&gt;
    &lt;/div&gt;
    &lt;/div&gt;</code></pre>
            </div>
            <p class="pt-4 ">Inside Your script tags add</p>
            <div class="code-box-copy">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#tabcode2" title="Copy"><i
                  class="fa-solid fa-copy fa-fw"></i></button>
              <pre><code class="language-html" id="tabcode2">import { ref } from 'vue';
     const filter = ref<boolean>(false)
     const desc = ref &lt;string &gt;("Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum")
     function open() {
         filter.value = !filter.value
     }</code></pre>
            </div>
          </div>
        </div>
        <div id="section-1-9">
          <h4 class="sub-title mb-0 title-with-link">Accordion
            <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/uikits/accordion"
              target="_blank">Preview
              link
              <i data-feather="arrow-up-right"></i></a>
          </h4>
          <div class="fluid-container pt-3 accordion-page">
            <div class="accordion" id="simpleaccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button accordion-light-primary active collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne">What do web designers do ?</button>
                </h2>
                <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne"
                  data-bs-parent="#simpleaccordion" style="">
                  <div class="accordion-body">
                    <p class="mb-0">Web design<em class="font-danger"> identifies the goals</em> of a website or
                      webpage and promotes accessibility for all potential users. This process involves organizing
                      content and images across a series of pages and integrating applications and other interactive
                      elements.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button accordion-light-primary active collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">What is the use of web design ?</button>
                </h2>
                <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo"
                  data-bs-parent="#simpleaccordion">
                  <div class="accordion-body">
                    <p class="mb-3"><strong> Search engine optimization: </strong> Search engine optimization (SEO) is
                      a method for improving the chances for a website to be found by search engines. Web design codes
                      information in a way that search engines can read it. It can boost business because the site
                      shows up on the top search result pages, helping people to find it.</p>
                    <p class="mb-3"><strong> Mobile responsiveness:</strong> Mobile responsiveness is the feature of a
                      website that allows it to display on a mobile device and adapt its layout and proportions to be
                      legible. Web design ensures sites are easy to view and navigate from mobile devices. When a
                      website is well-designed and mobile-responsive, customers can reach the business with ease.</p>
                    <p class="mb-0"><strong> Improved sales:</strong>Increasing the number of items sold or acquiring
                      more active customers are objectives of a compelling website. As web design reaches targeted
                      customers and search engines, it helps the business make conversions on their site and improve
                      its sales.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed accordion-light-primary active" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">What are the elements of web design ?</button>
                </h2>
                <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree"
                  data-bs-parent="#simpleaccordion">
                  <div class="accordion-body">
                    <p class="mb-0">The web design process allows designers to adjust to any preferences and provide
                      effective solutions. There are many standard components of every web design, including:</p>
                    <ul class="d-flex flex-column gap-2 accordions-content">
                      <li>1. Layout</li>
                      <li>2. Images</li>
                      <li>3. Visual hierarchy</li>
                      <li>4. Color scheme</li>
                      <li>5. Typography</li>
                      <li>6. Navigation</li>
                      <li>7. Readability</li>
                      <li>8. Content</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="pt-4 ">Inside Your template tags add</p>
            <div class="code-box-copy mt-4">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#accodioncode" title="Copy"><i
                  class="fa-solid fa-copy fa-fw"></i></button>
              <pre><code class="language-html" id="accodioncode">&lt;div class="accordion dark-accordion" id="simpleaccordion"&gt;
      &lt;div class="accordion-item" v-for="(item, index) in simple" :key="index"&gt;
          &lt;h2 class="accordion-header" :id="item.hederid"&gt;
              &lt;button class="accordion-button  bg-light-primary font-primary " @click="toggleAccordion(index)"
                  type="button" :data-bs-target="item.id" aria-expanded="true" :aria-controls="item.ids"&gt;{{ item.title
                  }}&lt;vue-feather class="svg-color" type="chevron-down"&gt;&lt;/vue-feather&gt; &lt;/button&gt;
          &lt;/h2&gt;
          &lt;div class="accordion-collapse " v-if="item.isActive" :id="item.ids" :aria-labelledby="item.hederid"
              data-bs-parent="#simpleaccordion"&gt;
              &lt;div class="accordion-body"&gt;
                  &lt;div v-for="(items, index) in item.childern" :key="index"&gt;
                      &lt;p v-html="items.desc" v-if="item.one"&gt;
                      &lt;/p&gt;
                  &lt;/div&gt;
                  &lt;div v-for="(items, index) in item.childern" :key="index"&gt;
                      &lt;p class="mb-3" v-html="items.desc" v-if="item.two"&gt;
                      &lt;/p&gt;
                  &lt;/div&gt;
                  &lt;p v-if="item.three"&gt;
                      The web design process allows designers to adjust to any preferences and provide effective
                      solutions. There are many standard components of every web design, including:&lt;/p&gt;
                  &lt;div v-for="(items, index) in item.childern" :key="index"&gt;
    
                      &lt;ul class="d-flex flex-column gap-2 accordions-content" v-if="item.three"&gt;
                          &lt;li&gt;--&gt; {{ items.title }}&lt;/li&gt;
                      &lt;/ul&gt;
                  &lt;/div&gt;
              &lt;/div&gt;
          &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;</code></pre>
            </div>
            <p class="pt-4 ">Inside Your script tags add</p>
            <div class="code-box-copy mt-3">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#accodioncode1" title="Copy"><i
                  class="fa-solid fa-copy fa-fw"></i></button>
              <pre><code class="language-html" id="accodioncode1">import { ref, defineAsyncComponent } from 'vue'
     import { useCommonStore } from "@/store/common" 
     let store = useCommonStore()
     let simple = store.data
     const toggleAccordion = (index: number) => {
         simple[index].isActive = !simple[index].isActive;
         closeOtherAccordions(index);
     };
     
     const closeOtherAccordions = (currentIndex: number) => {
         simple.forEach((item, index) => {
             if (index !== currentIndex) {
                 item.isActive = false;
             }
         });
     };</code></pre>
            </div>
            <p class="pt-4 ">Inside Your store add</p>
            <div class="code-box-copy mt-3">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#accodioncode1" title="Copy"><i
                  class="fa-solid fa-copy fa-fw"></i></button>
              <pre><code class="language-html" id="accodioncode1">import { defineStore } from 'pinia'
     import { ref } from 'vue'
     import { computed } from 'vue'
     import { simple} from "@/core/data/uikits"
                    
     export const useCommonStore = defineStore('Common', () => {
     
         let data = ref(simple)
         
     
         return {
             data,
            
         }
     })</code></pre>
            </div>
            <p class="pt-4 ">Inside json add</p>
            <div class="code-box-copy mt-3">
              <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#accodioncode3" title="Copy"><i
                  class="fa-solid fa-copy fa-fw"></i></button>
              <pre><code class="language-html" id="accodioncode3">interface simpleaccordion {
 hederid: string;
 id: string;
 ids?: string;
 title: string;
 one?: boolean;
 two?: boolean;
 three?: boolean;
 isActive: boolean,
 childern?: Child[];
}
interface Child {
    desc?: string;
    title?: string;
}
export const simple: simpleaccordion[] = [
    {
        hederid: "headingOne",
        id: "#collapseOne",
        ids: "collapseOne",
        title: "What do web designers do?",
        one: true,
        isActive: true,
        childern: [
            {
                desc: " Web design &lt;em class='text-danger'&gt; identifies the goals &lt;/em&gt; of a website or webpage and promotes accessibility for all potential users. This process involves organizing content and images across a series of pages and integrating applications and other interactive elements."
            }
        ]
    },
    {
        hederid: "headingTwo",
        id: "#collapseTwo",
        ids: "collapseTwo",
        title: "What is the use of web design?",
        two: true,
        isActive: false,
        childern: [
            {
                desc: " &lt;strong&gt; Search engine optimization:  &lt;/strong&gt; Search engine optimization (SEO) is a method for improving the chances for a website to be found by search engines. Web design codes information in a way that search engines can read it. It can boost business because the site shows up on the top search result pages, helping people to find it."
            },
            {
                desc: " &lt;strong&gt; Mobile responsiveness: &lt;/strong&gt; Mobile responsiveness is the feature of a website that allows it to display on a mobile device and adapt its layout and proportions to be legible. Web design ensures sites are easy to view and navigate from mobile devices. When a website is well-designed and mobile-responsive, customers can reach the business with ease."
            },
            {
                desc: "  &lt;strong&gt; Improved sales: &lt;/strong&gt;Increasing the number of items sold or acquiring more active customers are objectives of a compelling website. As web design reaches targeted customers and search engines, it helps the business make conversions on their site and improve its sales."
            }
        ]
    },
    {
        hederid: "headingThree",
        id: "#collapseThree",
        ids: "collapseThree",
        title: "What are the elements of web design?",
        three: true,
        isActive: false,
        childern: [
            {
                title: "Layout"
            },
            {
                title: "Images"
            },
            {
                title: "Visual hierarchy"
            },
            {
                title: "Color scheme"
            },
            {
                title: "Typography"
            },
            {
                title: "Navigation"
            },
            {
                title: "Readability"
            },
            {
                title: "Content"
            }
        ]
    }
]</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="left-sidebar right-part">
      <aside>
        <ul class="list-unstyled nav-sidebar doc-nav">
          <li class="nav-item">
            <div class="title">On this page</div>
            <ul class="dropdown-nav ps-0">
              <li class="nav-item"><a class="nav-link" href="#section-1-1" data-original-title="" title=""><i
                    class="fa fa-angle-right me-2"></i> Buttons</a></li>
              <li class="nav-item"><a class="nav-link" href="#section-1-2" data-original-title="" title=""><i
                    class="fa fa-angle-right me-2"></i>Tag & pills</a></li>
              <li class="nav-item"><a class="nav-link" href="#section-1-3" data-original-title="" title=""><i
                    class="fa fa-angle-right me-2"></i>Progress bar</a></li>
              <li class="nav-item"><a class="nav-link" href="#section-1-4" data-original-title="" title=""><i
                    class="fa fa-angle-right me-2"></i>Alert</a></li>
              <li class="nav-item"><a class="nav-link" href="#section-1-5" data-original-title="" title=""><i
                    class="fa fa-angle-right me-2"></i>Popover</a></li>
              <li class="nav-item"><a class="nav-link" href="#section-1-6" data-original-title="" title=""><i
                    class="fa fa-angle-right me-2"></i> Tooltip</a></li>
              <li class="nav-item"><a class="nav-link" href="#section-1-7" data-original-title="" title=""><i
                    class="fa fa-angle-right me-2"></i> Dropdown</a></li>
              <li class="nav-item"><a class="nav-link" href="#section-1-8" data-original-title="" title=""><i
                    class="fa fa-angle-right me-2"></i> Tab</a></li>
              <li class="nav-item"><a class="nav-link" href="#section-1-9" data-original-title="" title=""><i
                    class="fa fa-angle-right me-2"></i>According</a></li>

            </ul>
          </li>
        </ul>
      </aside>
    </div>
  </div>
  </div>
  <footer>
    <div class="container">
      <div class="row footer-theme partition-f">
        <div class="col-12">
          Copyright 2024 © Admiro theme by pixelstrap
        </div>
      </div>
    </div>
  </footer>
</body>
<!-- latest jquery-->
<script src="../assets/js/document/jquery/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="../assets/js/document/bootstrap/popper.min.js"></script>
<script src="../assets/js/document/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="../assets/js/document/feather-icon/feather.min.js"></script>
<script src="../assets/js/document/feather-icon/feather-icon.js"></script>
<!-- popover js-->
<!-- code copy box js-->
<script src="../assets/js/document/prism/prism.min.js"></script>
<script src="../assets/js/document/clipboard/clipboard.min.js"></script>
<script src="../assets/js/document/custom-card/custom-card.js"></script>
<script src="../assets/js/document/tooltip/tooltip-init.js"></script>
<script src="../assets/js/document/main.js"></script>
<script src="../assets/js/document/script.js"></script>

</html>