<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pixelstrap - Admin Document">
  <meta name="keywords" content="Pixelstrap - Admin Document">
  <meta name="author" content="pixelstrap">
  <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
  <title>Pixelstrap - Admin Document</title>
  <!-- Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/themify-icons/css/themify.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/prism/prism.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/date-picker/date-picker.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/select2/select2.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/typehead/choices.min.css">
  <!-- Font Awesome-->
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/fontawesome.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/brands.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/solid.css" />
  <link rel="stylesheet" href="../assets/css/document-css/fontawesome-free/css/regular.css" />
  <!-- Feather icon-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/feather-icon/feather-icon.css" />
  <!-- animate-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/animate/animate.css" />
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document-css/bootstrap/bootstrap.css" />
  <!-- App css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <!-- document css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/document.css" />
</head>

<body class="document full-width-doc sticky-nav-doc" data-bs-spy="scroll" data-bs-target="#myScrollspy"
  data-bs-offset="0">
  <!-- tap on top starts-->
  <div class="tap-top"><i data-feather="chevrons-up"></i>
    <p>Top</p>
  </div>
  <!-- tap on tap ends-->
  <div>
    <div class="home-section">
      <nav class="navbar navbar-expand-lg">
        <div class="container custom-container">
          <div class="main-menu"><a class="navbar-brand" href="index.html"> <img src="../assets/images/logo/logo.png"
                alt=""></a>
            <div>
              <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"> </i></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav menu">
                  <li class="nav-item active"><a class="nav-link"
                      href="https://themeforest.net/user/pixelstrap/portfolio" role="button" aria-haspopup="true"
                      aria-expanded="false" target="_blank">Purchase</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://support.pixelstrap.com/" role="button"
                      aria-haspopup="true" aria-expanded="false" target="_blank">Support</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://www.vue.pixelstrap.net/admiro/auth/login"
                      role="button" aria-haspopup="true" aria-expanded="false" target="_blank">Demo</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://landing.pixelstrap.net/vue/admiro/template/"
                      role="button" aria-haspopup="true" aria-expanded="false" target="_blank">Feature </a></li>
                </ul>
              </div>
            </div>
            <ul class="nav-right">
              <li>
                <div class="d-lg-none d-block"><a class="toggle-sidebar" href="#"><i class="fa fa-sliders"></i></a>
                </div>
              </li>
              <li>
                <div class="btn-group"><a class="decrease btn btn-doc" href="#" title="Decrease font size">A-</a><a
                    class="reset btn btn-doc" href="#" title="Default font size">A</a><a class="increase btn btn-doc"
                    href="#" title="Increase font size">A+</a></div>
              </li>
              <li><a class="btn btn-light mode font-dark" href="#" title="Dark"><i
                    class="fa-regular fa-moon fa-fw"></i><span>Dark</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container custom-container">
        <div class="search-input">
          <div class="input-group mb-md-3 mb-0">
            <input type="text" class="form-control" placeholder="search anything here" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"><i data-feather="search"></i></span>
          </div>
          <div class="popular-search">
            <span>Popular Search:</span>
            <ul>
              <li><a href="index.html"><span class="badge bg-primary">Starter kit</span></a></li>
              <li><a href="basic-ui.html"><span class="badge bg-primary">Element</span></a></li>
              <li><a href="advance-ui.html"><span class="badge bg-primary">components</span></a></li>
              <li><a href="forms.html"><span class="badge bg-primary">forms</span></a></li>
              <li><a href="tables.html"><span class="badge bg-primary">tables</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="effect-sec">
        <img src="../assets/images/girl.png" class="img-fluid girl-img" alt="">
      </div>
    </div>
  </div>
  <div class="container custom-container">
    <div class="document-main">
      <div class="left-sidebar">
        <aside>
          <ul class="list-unstyled nav-sidebar doc-nav">
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="index.html"><img src="../assets/images/document/vue.png"
                    alt="" />Getting Started</a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="index.html">Getting Started</a></li>
                <li class="nav-item"><a class="nav-link" href="tree.html">Our
                    Structure</a></li>
                <li class="nav-item"><a class="nav-link" href="feature-list.html">Avaiable Features</a></li>
                <li class="nav-item"><a class="nav-link" href="RoutingVue.html">Routing</a></li>
                <li class="nav-item"><a class="nav-link" href="customer-review.html">Customer Reviews</a> </li>

              </ul>
            </li>

            <li class="nav-item">
              <div class="title">
                <a href="dark-mode.html" class="nav-link px-0">
                  <img src="../assets/images/document/vue.png" alt="" />
                  Dark Layout
                </a>
              </div>
            </li>
            <li class="nav-item mb-2">
              <div class="title">
                <a href="rtl.html" class="nav-link px-0">
                  <img src="../assets/images/document/vue.png" alt="" />
                  RTL Layout
                </a>
              </div>
            </li>
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="page-customizer.html"><img
                    src="../assets/images/document/vue.png" alt="" />Customization</a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="page-customizer.html">Customizer</a></li>
                <li class="nav-item"><a class="nav-link" href="page-color.html">Color</a></li>

                <li class="nav-item"><a class="nav-link" href="page-scss.html">SCSS</a> </li>

                <li class="nav-item"><a class="nav-link" href="sidebar-type.html">Sidebar type</a> </li>
              </ul>
            </li>
            <li class="nav-item">
              <div class="title"><a class="nav-link" href="basic-ui.html"><img src="../assets/images/document/vue.png"
                    alt="" />Components </a></div>
              <ul class="dropdown-nav">
                <li class="nav-item"><a class="nav-link" href="basic-ui.html">Basic UI Elements</a></li>
                <li class="nav-item"><a class="nav-link" href="advance-ui.html">Advance UI Elements</a></li>

                <li class="nav-item"><a class="nav-link" href="icons.html">Icons</a></li>
                <li class="nav-item"><a class="nav-link" href="forms.html">Forms</a></li>
                <li class="nav-item"><a class="nav-link" href="tables.html">Tables</a></li>
                <li class="nav-item"><a class="nav-link" href="cards.html">Cards</a></li>
                <li class="nav-item"><a class="nav-link" href="timeline.html">Timeline</a></li>
                <li class="nav-item"><a class="nav-link" href="charts.html">Charts</a></li>
                <li class="nav-item"><a class="nav-link" href="maps.html">Maps</a></li>
                <li class="nav-item"><a class="nav-link" href="editors.html">Editors</a></li>
                <li class="nav-item"><a class="nav-link" href="app.html">Applications</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <div class="title">
                <a class="nav-link" href="accordian.html"><img src="../assets/images/document/vue.png" alt="" />Faq</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="title">
                <a class="nav-link" href="credits.html"><img src="../assets/images/document/vue.png"
                    alt="" />Credits</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="title">
                <a class="nav-link" href="change-log.html"><img src="../assets/images/document/vue.png" alt="" />Change
                  log</a>
              </div>
            </li>
          </ul>
        </aside>
      </div>
      <div class="content">
        <div id="section-1">
          <h4 class="main-title mb-0">Forms</h4>
          <hr>
          <div id="section-1-1">
            <h4 class="sub-title mb-0 title-with-link">Validation form
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/form/validation"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <form class="needs-validation" novalidate="">
                <div class="row g-3">
                  <div class="col-md-4">
                    <label class="form-label" for="validationCustom01">First name</label>
                    <input class="form-control" id="validationCustom01" type="text" value="Mark" required=""
                      data-bs-original-title="" title="">
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label" for="validationCustom02">Last name</label>
                    <input class="form-control" id="validationCustom02" type="text" value="Otto" required=""
                      data-bs-original-title="" title="">
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label class="form-label" for="validationCustomUsername">Username</label>
                    <div class="input-group"><span class="input-group-text" id="inputGroupPrepend">@</span>
                      <input class="form-control" id="validationCustomUsername" type="text" placeholder="Username"
                        aria-describedby="inputGroupPrepend" required="" data-bs-original-title="" title="">
                      <div class="invalid-feedback">Please choose a username.</div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-md-6">
                    <label class="form-label" for="validationCustom03">City</label>
                    <input class="form-control" id="validationCustom03" type="text" placeholder="City" required=""
                      data-bs-original-title="" title="">
                    <div class="invalid-feedback">Please provide a valid city.</div>
                  </div>
                  <div class="col-md-3">
                    <label class="form-label" for="validationCustom04">State</label>
                    <select class="form-select" id="validationCustom04" required="">
                      <option selected="" disabled="" value="">Choose...</option>
                      <option>...</option>
                    </select>
                    <div class="invalid-feedback">Please select a valid state.</div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label class="form-label" for="validationCustom05">Zip</label>
                    <input class="form-control" id="validationCustom05" type="text" placeholder="Zip" required=""
                      data-bs-original-title="" title="">
                    <div class="invalid-feedback">Please provide a valid zip.</div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <div class="checkbox-checked form-check-inline">
                      <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="">
                      <label class="form-check-label" for="flexCheckDefault">Agree to terms and conditions</label>
                    </div>
                    <div class="invalid-feedback">You must agree before submitting.</div>
                  </div>
                </div>
                <button class="btn btn-primary" type="submit" data-bs-original-title="" title="">Submit
                  form</button>
              </form>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#validaitonform" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="validaitonform">  &ltform class="row g-3 needs-validation" novalidate @submit.prevent="onCustomSubmit"&gt;
 &ltdiv class="col-md-4 position-relative"&gt;
     &ltlabel class="form-label" for="validationTooltip01"&gt;First name&lt/label&gt;
     &ltinput type="text" class="form-control"
         v-bind:class="Submitted ? inputs.firstname.errorMessage.length ? 'is-invalid' : 'is-valid' : ''"
         id="name" placeholder="Your name" v-model="inputs.firstname.data"&gt;
     &ltdiv class="invalid-tooltip" v-if="inputs.firstname.errorMessage.length"&gt;{{
         inputs.firstname.errorMessage
     }}&lt/div&gt;
     &ltdiv class="valid-tooltip" v-else&gt;Looks Good!&lt/div&gt;
 &lt/div&gt;
 &ltdiv class="col-md-4 position-relative"&gt;
     &ltlabel class="form-label" for="validationTooltip02"&gt;Last name&lt/label&gt;
     &ltinput class="form-control" type="text"
         v-bind:class="Submitted ? inputs.lastname.errorMessage.length ? 'is-invalid' : 'is-valid' : ''"
         id="name" placeholder="Your name" v-model="inputs.lastname.data"&gt;
     &ltdiv class="invalid-tooltip" v-if="inputs.lastname.errorMessage.length"&gt;{{
         inputs.lastname.errorMessage
     }}&lt/div&gt;
     &ltdiv class="valid-tooltip" v-else&gt;Looks Good!&lt/div&gt;
 &lt/div&gt;
 &ltdiv class="col-md-4 position-relative"&gt;
     &ltlabel class="form-label" for="validationTooltipUsername"&gt;Username&lt/label&gt;
     &ltdiv class="input-group has-validation"&gt;&ltspan class="input-group-text"
             id="validationTooltipUsernamePrepend"&gt;@&lt/span&gt;
         &ltinput class="form-control" id="validationCustomUsername" type="text"
             v-bind:class="Submitted ? inputs.username.errorMessage.length ? 'is-invalid' : 'is-valid' : ''"
             placeholder="Username" v-model="inputs.username.data"&gt;
         &ltdiv class="invalid-tooltip" v-if="inputs.username.errorMessage.length"&gt;{{
             inputs.username.errorMessage
         }}&lt/div&gt;
         &ltdiv class="valid-tooltip" v-else&gt;Looks Good!&lt/div&gt;
     &lt/div&gt;
 &lt/div&gt;
 &ltdiv class="col-md-6 position-relative"&gt;
     &ltlabel class="form-label" for="validationTooltip03"&gt;City&lt/label&gt;
     &ltinput class="form-control" id="validationCustom03" type="text"
         v-bind:class="Submitted ? inputs.city.errorMessage.length ? 'is-invalid' : 'is-valid' : ''"
         placeholder="City" required v-model="inputs.city.data"&gt;
     &ltdiv class="invalid-tooltip" v-if="inputs.city.errorMessage.length"&gt;{{ inputs.city.errorMessage }}
     &lt/div&gt;
     &ltdiv class="valid-tooltip" v-else&gt;Looks Good!&lt/div&gt;
 &lt/div&gt;
 &ltdiv class="col-md-3 position-relative"&gt;
     &ltlabel class="form-label" for="validationTooltip04"&gt;State&lt/label&gt;
     &ltselect class="form-select" id="validationCustom04"
         v-bind:class="Submitted ? inputs.state.errorMessage.length ? 'is-invalid' : 'is-valid' : ''"
         v-model="inputs.state.data" required&gt;
         &ltoption selected disabled value=""&gt;Choose...&lt/option&gt;
         &ltoption v-for="(value, index) in optionValues" :value="value" :key="value + index"&gt;{{ value }}
         &lt/option&gt;
     &lt/select&gt;
     &ltdiv class="invalid-tooltip" v-if="inputs.state.errorMessage.length"&gt;{{ inputs.state.errorMessage }}
     &lt/div&gt;
     &ltdiv class="valid-tooltip" v-else&gt;Looks Good!&lt/div&gt;
 &lt/div&gt;
 &ltdiv class="col-md-3 position-relative"&gt;
     &ltlabel class="form-label" for="validationTooltip05"&gt;Zip&lt/label&gt;
     &ltinput class="form-control" id="validationCustom05" type="text"
         v-bind:class="Submitted ? inputs.zip.errorMessage.length ? 'is-invalid' : 'is-valid' : ''"
         v-model="inputs.zip.data" placeholder="Zip" required&gt;
     &ltdiv class="invalid-tooltip" v-if="inputs.zip.errorMessage.length"&gt;{{ inputs.zip.errorMessage }}
     &lt/div&gt;
     &ltdiv class="valid-tooltip" v-else&gt;Looks Good!&lt/div&gt;
 &lt/div&gt;
 &ltdiv class="col-12"&gt;
     &ltbutton class="btn btn-primary" type="submit"&gt;Submit form&lt/button&gt;
 &lt/div&gt;
&lt/form&gt;</p></code></pre>
              </div>
              <p>Inside Your script tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#googlecode2" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-js" id="googlecode2">import { onCustomSubmit, inputs, Submitted, optionValues } from "@/composables/commen/validationForm"
                                             </code></pre>
              </div>
              <p>Inside Your ts tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#googleode4" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="googleode4">import { ref } from 'vue'
 interface InputData {
     data: string;
     errorMessage: string;
 }
 
 interface Inputs {
     firstname: InputData;
     lastname: InputData;
     username: InputData;
     city: InputData;
     state: InputData;
     zip: InputData;
     password: InputData
 }
 interface ErrorObject {
     message: string;
     code: number;
 }
 export let errors = ref&lt;ErrorObject[]&gt;([])
 
 export let optionValues = ref&lt;string[]&gt;(['U.S', 'Thailand', 'India', 'U.K'])
 export let inputs = ref&lt;Inputs&gt;({
     firstname: {
         data: 'Mark',
         errorMessage: 'asdasd',
     }, lastname: {
         data: 'Otto',
         errorMessage: ''
     }, username: {
         data: '',
         errorMessage: ''
     }, city: {
         data: '',
         errorMessage: ''
     }, state: {
         data: '',
         errorMessage: ''
     }, zip: {
         data: '',
         errorMessage: ''
     }, password: {
         data: '',
         errorMessage: ''
     }
 })
 export let formSubmitted = ref&lt;boolean&gt;(false)
 export let Submitted = ref&lt;boolean&gt;(false)
 
 
 export function onCustomSubmit() {
     Submitted.value = true;
     let values = inputs.value
     values.firstname.data.length < 3 ? values.firstname.errorMessage = 'Please choose a firstname' : values.firstname.errorMessage = ''
     values.lastname.data.length < 3 ? values.lastname.errorMessage = 'Please choose a lastname.' : values.lastname.errorMessage = ''
     values.username.data.length < 3 ? values.username.errorMessage = 'Please choose a username.' : values.username.errorMessage = ''
     values.city.data.length < 3 ? values.city.errorMessage = 'Please provide a valid city.' : values.city.errorMessage = ''
     values.state.data.length < 1 ? values.state.errorMessage = 'Please select a valid state.' : values.state.errorMessage = ''
     values.zip.data.length < 7 ? values.zip.errorMessage = 'Please provide a valid zip.' : values.zip.errorMessage = ''
 }
   </code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-2">
            <h4 class="sub-title mb-0 title-with-link">Base input
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/form/base_inputs"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <form class="form theme-form">
                <div class="card-body p-0">
                  <div class="row">
                    <div class="col">
                      <label class="form-label" for="exampleFormControlInput1">Email address</label>
                      <input class="form-control" id="exampleFormControlInput1" type="email"
                        placeholder="name@example.com" data-bs-original-title="" title="">
                    </div>
                  </div>
                </div>
              </form>
              <div class="code-box-copy mt-4">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#basicinput" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="basicinput">&lt;form class="form theme-form"&gt;
 &lt;div class="card-body p-0"&gt;
  &lt;div class="row"&gt;
   &lt;div class="col"&gt;
    &lt;div class="mb-3"&gt;
      &lt;label class="form-label" for="exampleFormControlInput1"&gt;Email address&lt;/label&gt;
      &lt;input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com" data-bs-original-title="" title=""&gt;
    &lt;/div&gt;
   &lt;/div&gt;
  &lt;/div&gt;
 &lt;/div&gt;
&lt;/form&gt;</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-3">
            <h4 class="sub-title mb-0 title-with-link">Checkbox & Radio
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/form/checkbox_radio"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <div class="row">
                <div class="col-lg-3 col-md-6 checkbox-checked">
                  <div class="form-check-size">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input me-2" id="inlineRadio1" type="radio" name="inlineRadioOptions"
                        value="option1">
                      <label class="form-check-label" for="inlineRadio1">Option1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input me-2" id="inlineRadio2" type="radio" name="inlineRadioOptions"
                        value="option2" checked="">
                      <label class="form-check-label" for="inlineRadio2">Checked</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input me-2" id="inlineRadio3" type="radio" name="inlineRadioOptions"
                        value="option3" disabled="">
                      <label class="form-check-label" for="inlineRadio3">Disabled</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 checkbox-checked">
                  <div class="form-check-size">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input me-2" id="inlineCheckbox1" type="checkbox" value="option1"
                        checked="">
                      <label class="form-check-label" for="inlineCheckbox1">Checked</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input me-2" id="inlineCheckbox2" type="checkbox" value="option2">
                      <label class="form-check-label" for="inlineCheckbox2">Default</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input me-2" id="inlineCheckbox3" type="checkbox" value="option3"
                        disabled="">
                      <label class="form-check-label" for="inlineCheckbox3">Disabled</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="code-box-copy mt-4">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#checkbox_radio" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="checkbox_radio">&lt;div class="row"&gt;  
&lt;div class="col-lg-3 col-md-6 checkbox-checked"&gt;  
  &lt;div class="form-check-size"&gt;  
    &lt;div class="form-check form-check-inline"&gt;  
      &lt;input class="form-check-input me-2" id="inlineRadio1" type="radio" name="inlineRadioOptions" value="option1"&gt;  
      &lt;label class="form-check-label" for="inlineRadio1"&gt;  Option1  &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check form-check-inline"&gt;  
      &lt;input class="form-check-input me-2" id="inlineRadio2" type="radio" name="inlineRadioOptions" value="option2"  checked=""&gt;  
      &lt;label class="form-check-label" for="inlineRadio2"&gt;  Checked  &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check form-check-inline"&gt;  
      &lt;input class="form-check-input me-2" id="inlineRadio3" type="radio" name="inlineRadioOptions" value="option3" disabled=""&gt;  
      &lt;label class="form-check-label" for="inlineRadio3"&gt;  Disabled  &lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class="col-md-6 col-lg-3 checkbox-checked"&gt;  
  &lt;div class="form-check-size"&gt;  
    &lt;div class="form-check form-check-inline"&gt;  
      &lt;input class="form-check-input me-2" id="inlineCheckbox1" type="checkbox" value="option1" checked=""&gt;  
      &lt;label class="form-check-label" for="inlineCheckbox1"&gt;  Checked  &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check form-check-inline"&gt;  
      &lt;input class="form-check-input me-2" id="inlineCheckbox2" type="checkbox" value="option2"&gt;  
      &lt;label class="form-check-label" for="inlineCheckbox2"&gt;  Default  &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check form-check-inline"&gt;  
      &lt;input class="form-check-input me-2" id="inlineCheckbox3" type="checkbox" value="option3" disabled=""&gt;  
      &lt;label class="form-check-label" for="inlineCheckbox3"&gt;  Disabled  &lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-4">
            <h4 class="sub-title mb-0 title-with-link">Input group
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/form/input_groups"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <form class="theme-form row g-3">
                <div class="input-group flex-nowrap"><span class="input-group-text" id="addon-wrapping">@</span>
                  <input class="form-control" type="text" placeholder="Username" aria-label="Username"
                    aria-describedby="addon-wrapping">
                </div>
              </form>
              <div class="code-box-copy mt-4">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#input_group" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="input_group">&lt;form class="theme-form row g-3"&gt; 
&lt;div class="input-group flex-nowrap"&gt;
&lt;span class="input-group-text" id="addon-wrapping"&gt;@
&lt;/span&gt;
&lt;input class="form-control" type="text" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping"&gt;                &lt;/div&gt;
&lt;/form&gt;</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-5">
            <h4 class="sub-title mb-0 title-with-link">Datepicker
              <span class="d-flex gap-1">
                <a class="badge badge-light-primary" href="https://www.npmjs.com/package/@vuepic/vue-datepicker"
                  target="_blank">Offical
                  link
                  <i data-feather="arrow-up-right"></i></a>
                <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/form/datepicker"
                  target="_blank">Preview
                  link
                  <i data-feather="arrow-up-right"></i></a>
              </span>
            </h4>
            <div class="fluid-container pt-3">
              <div class="date-picker">
                <form class="theme-form">
                  <div class="mb-3 row g-3">
                    <label class="col-sm-3 text-sm-end">Default</label>
                    <div class="col-xl-5 col-sm-9">
                      <div class="input-group">
                        <input class="datepicker-here form-control digits" type="text" data-language="en"
                          data-bs-original-title="" title="">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#datepickercode" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="datepickercode">npm i vue3-datepicker</code></pre>
              </div>
              <p>In your main.ts file all the following code:</p>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#datepickercode12"
                  title="Copy"><i class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="datepickercode12">import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
.component('Datepicker', Datepicker)</code></pre>
              </div>
              <p>Inside Your template tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#datepickercode1"
                  title="Copy"><i class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-js" id="datepickercode1">&lt;datepicker  datepicker class=" datetimepicker-input digits" v-model="date" :format="format" /&gt;
</code></pre>
              </div>
              <p>Inside Your script tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#datepickercode3"
                  title="Copy"><i class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-js" id="datepickercode3">import { ref } from 'vue';
                  let date = ref<Date | null>(null);

                    const format = (date: Date | null): string => {
                        if (date === null) {
                            return '';
                        }
                    
                        const day = date.getDate();
                        const month = date.getMonth() + 1;
                        const year = date.getFullYear();
                    
                        return ` ${day}/${month}/${year}`;
                    };</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-6">
            <h4 class="sub-title mb-0 title-with-link">Switch
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/form/switch"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <label class="switch">
                <input type="checkbox" checked="" data-bs-original-title="" title=""><span class="switch-state"></span>
              </label>
              <label class="switch">
                <input type="checkbox" data-bs-original-title="" title=""><span class="switch-state"></span>
              </label>
              <div class="code-box-copy mt-4">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#switchcode" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="switchcode">&lt;label class="switch"&gt;
 &lt;input type="checkbox" checked="" data-bs-original-title="" title=""&gt;
 &lt;span class="switch-state"&gt;&lt;/span&gt;
&lt;/label&gt;
&lt;label class="switch"&gt;
 &lt;input type="checkbox" data-bs-original-title="" title=""&gt;
 &lt;span class="switch-state"&gt;&lt;/span&gt;
&lt;/label&gt;</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-7">
            <h4 class="sub-title mb-0 title-with-link">Touchspin
              <span class="d-flex gap-1">
                <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/form/touchspin"
                  target="_blank">Preview
                  link
                  <i data-feather="arrow-up-right"></i></a>
              </span>
            </h4>
            <div class="fluid-container pt-3">
              <div class="row">
                <div class="col-xxl-4 col-md-5">
                  <div class="touchspin-wrapper">
                    <button class="decrement-touchspin btn-touchspin touchspin-primary"><i class="fa fa-minus">
                      </i></button>
                    <input class="input-touchspin spin-outline-primary" type="number" value="8">
                    <button class="increment-touchspin btn-touchspin touchspin-primary"><i class="fa fa-plus">
                      </i></button>
                  </div>
                </div>
              </div>
              <p>Inside Your template tags add</p>
              <div class="code-box-copy mt-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#basiccard" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="basiccard">            &lt;button class="decrement-touchspin btn-touchspin touchspin-primary" @click="primeryDecrement()"&gt;&lt;i
 class="fa fa-minus"&gt;&lt;/i&gt;&lt;/button&gt;
 &lt;input class="input-touchspin spin-outline-primary" type="number" v-model="conter"&gt;&lt;span
     class="input-group-text"&gt;%&lt;/span&gt;
 &lt;button class="increment-touchspin btn-touchspin touchspin-primary" @click="primeryIncrement()"&gt;&lt;i
         class="fa fa-plus"&gt;&lt;/i&gt;&lt;/button&gt;</code></pre>
              </div>
              <p>Inside Your script tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#googlecode2" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-js" id="googlecode2">import { ref, defineAsyncComponent } from 'vue'
                    let conter = ref&lt;number&gt;(0)
                    function primeryIncrement() {
                        conter.value++
                    }
                    function primeryDecrement() {
                        if (conter.value > 0) {
                            conter.value--
                        }
                    }
                                      </code></pre>
              </div>
            </div>
          </div>

          <div id="section-1-9">
            <h4 class="sub-title mb-0 title-with-link">Typeahead
              <span class="d-flex gap-1">
                <a class="badge badge-light-primary" href="https://www.npmjs.com/package/vue3-simple-typeahead"
                  target="_blank">Offical
                  link
                  <i data-feather="arrow-up-right"></i></a>
                <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/form/typeahead"
                  target="_blank">Preview
                  link
                  <i data-feather="arrow-up-right"></i></a>
              </span>
            </h4>
            <div class="fluid-container pt-3">
              <div id="the-basics">
                <form class="theme-form">
                  <div>
                    <select class="form-control" id="cities" name="cities">
                      <option value="">Choose a city</option>
                      <option value="Leeds">Leeds</option>
                      <option value="Manchester">Manchester</option>
                      <option value="London">London</option>
                      <option value="Sheffield">Sheffield</option>
                      <option value="Newcastle">Newcastle</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#typeaheadcode" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="typeaheadcode">npm i vue3-simple-typeahead</code></pre>
              </div>
              <p>In your main.ts file all the following code:</p>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#typeaheadcode2" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="typeaheadcode2">import SimpleTypeahead from 'vue3-simple-typeahead';
import 'vue3-simple-typeahead/dist/vue3-simple-typeahead.css'; 
.use(SimpleTypeahead)</code></pre>
              </div>
              <p>Inside Your template tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#typeaheadcode1" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-js" id="typeaheadcode1">&lt;vue3-simple-typeahead :items="list" class="form-control typeahead form-control" :placeholder="options.placeholder" @onInput="onInput" @onBlur="onBlur" :minInputLength="options.minInputLength"  /&gt;
</code></pre>
              </div>
              <p>Inside Your script tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#typeaheadcode3" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-js" id="typeaheadcode3">import { options, list, onInput, onBlur } from "@/composables/commen/typeaheadview"
</code></pre>
              </div>
              <p>In your composables typeaheadview.ts file all the following
                code:</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#typeaheadcode4" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="typeaheadcode4">import { ref, onMounted } from "vue";
onMounted(() => {
listFiltered.value = list.value;
})
interface data {
placeholder: string,
minInputLength: number,
hint: boolean
}
export let options = ref<data>({
placeholder: 'States of USA',
minInputLength: 1,
hint: false
})
export let listFiltered = ref<string[]>([])
export let list = ref<string[]>(['alabama',
'alaska',
'arizona',
'arkansas',
'california',
'colorado',
'connecticut',
'delaware',
'florida',
'georgia',
'hawaii',
'idaho',
'illinois',
'indiana',
'iowa',
'kansas',
'kentucky',
'louisiana',
'maine',
'maryland',
'massachusetts',
'michigan',
'minnesota',
'mississippi',
'missouri',
'montana',
'nebraska',
'nevada',
'new hampshire',
'new jersey',
'new mexico',
'new york',
'north carolina',
'north dakota',
'ohio',
'oklahoma',
'oregon',
'pennsylvania',
'rhode island',
'south carolina',
'south dakota',
'tennessee',
'texas',
'utah',
'vermont',
'virginia',
'washington',
'west virginia',
'wisconsin',
'wyoming',
])

export function onInput(event: any) {

listFiltered.value = event.items;
}
export function onBlur(event: any) {

listFiltered.value = event.items;
}</code></pre>
              </div>
            </div>
          </div>
          <div id="section-1-10">
            <h4 class="sub-title mb-0 title-with-link">Form wizard
              <a class="badge badge-light-primary" href="https://www.vue.pixelstrap.net/admiro/form/form_wizard"
                target="_blank">Preview
                link
                <i data-feather="arrow-up-right"></i></a>
            </h4>
            <div class="fluid-container pt-3">
              <form class="form-wizard" id="regForm" action="#" method="POST">
                <div class="tab">
                  <div class="mb-3">
                    <label for="name">First Name</label>
                    <input class="form-control" id="name" type="text" placeholder="Johan" required="required">
                  </div>
                  <div class="mb-3">
                    <label for="lname">Last Name</label>
                    <input class="form-control" id="lname" type="text" placeholder="Deo">
                  </div>
                  <div class="mb-3">
                    <label for="contact">Contact No.</label>
                    <input class="form-control" id="contact" type="number" placeholder="123456789">
                  </div>
                </div>
                <div class="tab">
                  <div class="mb-3 m-t-15">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input class="form-control" id="exampleFormControlInput1" type="email"
                      placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input class="form-control" id="exampleInputcPassword1" type="password" placeholder="Enter again">
                  </div>
                </div>
                <div class="tab">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1">Birthday:</label>
                    <input class="form-control" type="date">
                  </div>
                  <div class="mb-3">
                    <label class="control-label">Age</label>
                    <input class="form-control" placeholder="Age" type="text">
                  </div>
                  <div class="mb-3">
                    <label class="control-label">Have Passport</label>
                    <input class="form-control" placeholder="Yes/No" type="text">
                  </div>
                </div>
                <div class="tab">
                  <div class="mb-3">
                    <label class="control-label">Country</label>
                    <input class="form-control mt-1" type="text" placeholder="Country" required="required">
                  </div>
                  <div class="mb-3">
                    <label class="control-label">State</label>
                    <input class="form-control mt-1" type="text" placeholder="State" required="required">
                  </div>
                  <div class="mb-3">
                    <label class="control-label">City</label>
                    <input class="form-control mt-1" type="text" placeholder="City" required="required">
                  </div>
                </div>
                <div>
                  <div class="text-end btn-mb">
                    <button class="btn btn-secondary" id="prevBtn" type="button"
                      onclick="nextPrev(-1)">Previous</button>
                    <button class="btn btn-primary" id="nextBtn" type="button" onclick="nextPrev(1)">Next</button>
                  </div>
                </div>

                <div class="text-center"><span class="step"></span><span class="step"></span><span
                    class="step"></span><span class="step"></span></div>

              </form>
              <div class="code-box-copy">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#form" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-html" id="form">npm i vue3-form-wizard</code></pre>
              </div>
              <p>Inside Your template tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#form1" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-js" id="form1"> &lt;form-wizard @on-complete="onComplete"&gt;
  &lt;tab-content&gt;
      &lt;div class="col-xs-12"&gt;
          &lt;div class="col-md-12"&gt;
              &lt;div class="mb-3"&gt;
                  &lt;label class="control-label"&gt;First Name&lt;/label&gt;
                  &lt;input class="form-control" type="text" placeholder="Johan" required&gt;
              &lt;/div&gt;
              &lt;div class="mb-3"&gt;
                  &lt;label class="control-label"&gt;Last Name&lt;/label&gt;
                  &lt;input class="form-control" type="text" placeholder="Deo" required&gt;
              &lt;/div&gt;
          &lt;/div&gt;
      &lt;/div&gt;
  &lt;/tab-content&gt;
  &lt;tab-content&gt;
      &lt;div class="col-xs-12 "&gt;
          &lt;div class="col-md-12"&gt;
              &lt;div class="mb-3"&gt;
                  &lt;label class="control-label"&gt;Email&lt;/label&gt;
                  &lt;input class="form-control" type="text" placeholder="name@example.com" required&gt;
              &lt;/div&gt;
              &lt;div class="mb-3"&gt;
                  &lt;label class="control-label"&gt;Password&lt;/label&gt;
                  &lt;input class="form-control" type="password" placeholder="Password" required&gt;
              &lt;/div&gt;
          &lt;/div&gt;
      &lt;/div&gt;
  &lt;/tab-content&gt;
  &lt;tab-content&gt;
      &lt;div class="col-xs-12 "&gt;
          &lt;div class="col-md-12"&gt;
              &lt;div class="mb-3"&gt;
                  &lt;label class="control-label"&gt;Birth date&lt;/label&gt;
                  &lt;input class="form-control" type="date" required&gt;
              &lt;/div&gt;
              &lt;div class="mb-3"&gt;
                  &lt;label class="control-label"&gt;Have Passport&lt;/label&gt;
                  &lt;input class="form-control" type="text" placeholder="yes/No" required&gt;
              &lt;/div&gt;
          &lt;/div&gt;
      &lt;/div&gt;
  &lt;/tab-content&gt;
  &lt;tab-content&gt;
      &lt;div class="col-xs-12 "&gt;
          &lt;div class="col-md-12"&gt;
              &lt;div class="mb-3"&gt;
                  &lt;label class="control-label"&gt;State&lt;/label&gt;
                  &lt;input class="form-control mt-1" type="text" placeholder="State" required&gt;
              &lt;/div&gt;
              &lt;div class="mb-3"&gt;
                  &lt;label class="control-label"&gt;City&lt;/label&gt;
                  &lt;input class="form-control mt-1" type="text" placeholder="City" required&gt;
              &lt;/div&gt;
          &lt;/div&gt;
      &lt;/div&gt;
  &lt;/tab-content&gt;
&lt;/form-wizard&gt;
</code></pre>
              </div>

              <p>Inside Your script tags add</p>
              <div class="code-box-copy mb-3">
                <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#form2" title="Copy"><i
                    class="fa-solid fa-copy fa-fw"></i></button>
                <pre><code class="language-js" id="form2"> import { ref, defineAsyncComponent, onMounted } from 'vue'
                  import { tab } from "@/core/data/forms"
                  import { FormWizard, TabContent } from "vue3-form-wizard";
                  import 'vue3-form-wizard/dist/style.css'
                  function onComplete() {
                      alert('Yay, Done')
                  }         </code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="left-sidebar right-part">
        <aside>
          <ul class="list-unstyled nav-sidebar doc-nav">
            <li class="nav-item">
              <div class="title">On this page</div>
              <ul class="dropdown-nav ps-0">
                <li class="nav-item"><a class="nav-link" href="#section-1-1" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i> Validation form</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-2" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Base input</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-3" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Checkbox & radio</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-4" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Input group</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-5" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Datepicker</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-6" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Switch</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-7" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Touchspin</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-9" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Typeahead</a></li>
                <li class="nav-item"><a class="nav-link" href="#section-1-10" data-original-title="" title=""><i
                      class="fa fa-angle-right me-2"></i>Form wizard</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row footer-theme partition-f">
        <div class="col-12">
          Copyright 2024 © Admiro theme by pixelstrap
        </div>
      </div>
    </div>
  </footer>
</body>
<!-- latest jquery-->
<script src="../assets/js/document/jquery/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="../assets/js/document/bootstrap/popper.min.js"></script>
<script src="../assets/js/document/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="../assets/js/document/feather-icon/feather.min.js"></script>
<script src="../assets/js/document/feather-icon/feather-icon.js"></script>
<!-- popover js-->
<!-- code copy box js-->
<script src="../assets/js/document/prism/prism.min.js"></script>
<script src="../assets/js/document/clipboard/clipboard.min.js"></script>
<script src="../assets/js/document/custom-card/custom-card.js"></script>
<script src="../assets/js/document/tooltip/tooltip-init.js"></script>
<script src="../assets/js/document/form-validation/form-validation-custom.js"></script>
<script src="../assets/js/document/datepicker/date-picker/datepicker.js"></script>
<script src="../assets/js/document/datepicker/date-picker/datepicker.en.js"></script>
<script src="../assets/js/document/datepicker/date-picker/datepicker.custom.js"></script>
<script src="../assets/js/document/touchspin/touchspin.js"></script>
<script src="../assets/js/document/select2/select2.full.min.js"></script>
<script src="../assets/js/document/select2/select2-custom.js"></script>
<script src="../assets/js/document/typeahead/choices.js"></script>
<script src="../assets/js/document/typeahead/typehead-custom.js"></script>
<script src="../assets/js/document/form-wizard/form-wizard.js"></script>
<script src="../assets/js/document/main.js"></script>
<script src="../assets/js/document/script.js"></script>

</html>